<section>
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="w-full h-[50px] bg-[#F8F9FA] content-center">
      <p class="ml-[70px] font-(family-name:--chakraregular)">
        {{ "general-presentation.sub-title" | translate }}
      </p>
    </div>

    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1
        class="text-[#0056B3] font-(family-name:--arimabold) text-4xl font-bold"
      >
        {{ "general-presentation.title" | translate }}
      </h1>
    </div>
  </div>

  <div class="h-max w-full mb-20 flex items-center justify-center">
    <div class="w-[90%]">
      <p class="text-base">
        <b class="font-medium">{{
          "general-presentation.para1.text.gras" | translate
        }}</b>
        {{ "general-presentation.para1.text.des" | translate }}
      </p>

      <p class="mt-2 font-medium">
        {{ "general-presentation.para2" | translate }}
      </p>

      <p class="mt-2 text-left">
         <span> {{"general-presentation.para3.firt" | translate }}</span>
        <b> {{"general-presentation.para3.second" | translate }}</b>
        {{"general-presentation.para3.third" | translate }}
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para4.html' | translate">
     
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para5.html' | translate">
       
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para6' | translate">
        
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para7' | translate">
      
      </p>

      <p class="mt-2"[innerHTML]="'general-presentation.para8' | translate">
  
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para9' | translate">
      
      </p>

      <p class="mt-2" [innerHTML]="'general-presentation.para10' | translate">

      </p>
    </div>
  </div>
</section>
