<div>

  <div class="w-full md:h-[600px] content-evenly ">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) text-3xl text-blue-700 mb-[20px]">
        Généralités
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
        <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
      </div>
    </div>


    <div class="w-full flex items-center justify-center">
      <div class="md:flex grid grid-cols-1 md:w-[95%] gap-x-6 place-content-center md:items-center md:justify-items-center md:content-center">
        <img class="h-[300px] w-[500px]" src="./images/Logo La voie de Padre Pio Origin-01.png"
          alt="Logo ostpiocam Communication" />
        <p class="text-justify md:w-[50%] px-4  font-(family-name:--chakraregular)">
          <b class="text-[20px] font-(family-name:--chakrabold)">Paix - Travail - Patrie</b><br />
          « La prière est la meilleure arme. C’est la clé qui ouvre le cœur de Dieu.Ne vous lassez jamais de prier »
          Padre Pio
          La « Voie de Padre Pio » est une réalité vivante. C’est un Groupe de Presse et de Communication en gestation,
          une Artère importante de l’œuvre de Saint Padre Pio au Cameroun. L’objectif premier et essentiel de ce projet
          éditorial à caractère universel est de faire rayonner la splendeur de la Vérité du CHRIST Sauveur de tous les
          Hommes à travers la Cause de Padre Pio au Cameroun et dans le monde, par des actions concrètes et multiformes
          dont la matrice fondamentale plonge ses racines dans :  La Spiritualité , La Santé, L’Environnement.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <a routerLink="{{linkGeneralite}}">
        <button
          class="px-4 cursor-pointer py-2 mt-4 text-white text-base rounded-lg bg-blue-700"
        >
          En savoir plus
        </button>
      </a>
    </div>
  </div>
  <div class="w-full md:h-[900px] bg-blue-50 content-evenly items-center grid justify-items-center">
    <div class="my-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) text-3xl text-blue-700 mb-[20px]">
        Moyens de communication
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
        <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div
      class="mx-auto  mb-[40px] md:w-[70%] grid grid-cols-3 gap-x-0 gap-y-14 content-center  justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#D6E9F8'"
        [couleur_bgn]="'#002752'"
        [couleur_bg]="'#9EC5E8'"
        contenu="Sur le court terme

CYbernétique 
Presse écrite"
      />
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#D6E9F8'"
        [couleur_bgn]="'#002752'"
        [couleur_bg]="'#9EC5E8'"
        contenu="Sur le moyen terme

Radio
Televison"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#D6E9F8'"
        [couleur_bgn]="'#002752'"
        [couleur_bg]="'#9EC5E8'"
        contenu="Sur le long terme

Imprimerie"
      />
    </div>

  <div class="w-full h-[400px] bg-white py-10 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) text-3xl text-blue-700 mb-[20px]">
        Les Zones d’intervention
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
        <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-blue-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <div class="flex w-[90%] gap-x-4">
        <app-card
          [image]="'./images/Image PNG.png'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'centre de santé'"
          [couleur]="'#0056B3'"
          [name]="'REGION DU CENTRE'"
          [lieu]="''"
          [ville]="''"
        />
        <app-card
          [image]="'./images/Image PNG.png'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'centre de santé'"
          [couleur]="'#0056B3'"
          [name]="'REGION DU LITTORAL'"
          [lieu]="''"
          [ville]="''"
        />
        <app-card
          [image]="'./images/Image PNG.png'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'REGION DE L\'EST'"
          [couleur]="'#0056B3'"
          [name]="'REGION DE L\'EST'"
          [lieu]="''"
          [ville]="''"
        />
        <app-card
          [image]="'./images/Image PNG.png'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'REGION DE L\'ADAMOUA'"
          [couleur]="'#0056B3'"
          [name]="'REGION DE L\'ADAMOUA'"
          [lieu]="''"
          [ville]="''"
        />

        <app-card
          [image]="'./images/Image PNG.png'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'centre de santé'"
          [couleur]="'#0056B3'"
          [name]="'REGION DE L\'EXTREME-NORD'"
          [lieu]="''"
          [ville]="''"
        />
      </div>
    </div>
  </div>
</div>