<div>
  <div class="w-full h-[50px] bg-red-50 content-center">
    <p class="ml-[70px]">Accueil > Champs d’apostolat > Santé > St Pio BRSF</p>
  </div>

  <div class="w-full h-[392px] content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Devise
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center h-[202px] content-evenly">
      <p class="text-center w-[600px]">
        <b>Paix - Travail - Patrie</b><br />
        Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus.
        Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat
        lectus viverra elit quisque. In egestas ut pellentesque mattis
        sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac
        nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec
        natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus
        vitae. Est gravida nulla id fringilla. Ac curabitur in congue neque at
        amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor.
      </p>
      <img
        class="h-[202px] ml-[20px]"
        src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
        alt="Logo ostpiocam spiritualite"
      />
    </div>
  </div>
  <div class="w-full h-[358px] bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Historicité
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-center w-[80%]">
        Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus.
        Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat
        lectus viverra elit quisque. In egestas ut pellentesque mattis
        sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac
        nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec
        natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus
        vitae. Est gravida nulla id fringilla. Ac curabitur in congue neque at
        amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor. Lorem
        ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices
        magna euismod est lobortis tempus. Id arcu porttitor volutpat lectus
        viverra elit quisque. In egestas ut pellentesque mattis sollicitudin
        feugiat adipiscing venenatis egestas. Sed dignissim ac nulla dignissim
        vestibulum. Ut non id et pellentesque quam nibh nec natoque. Lobortis
        vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida
        nulla id fringilla. Ac curabitur in congue neque at amet risus nulla. Ac
        nulla vestibulum laoreet sed. Et enim tortor.
      </p>
    </div>
  </div>
  <div class="w-full h-[779px] content-evenly items-center">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Missions
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center w-full mb-[40px]">
      La confrerie des disciples de Saint Padre Pio de Pietrelcina
      <b>( CODISAPIO )</b> a pour missions de :
    </p>
    <div
      class="grid grid-cols-3 gap-4 content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="4"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="5"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="6"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
    </div>
  </div>
  <div class="w-full h-[509px] bg-red-50 content-evenly items-center">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Objectifs
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center w-full mb-[40px]">
      La confrerie des disciples de Saint Padre Pio de Pietrelcina
      <b>( CODISAPIO )</b> a pour objectifs:
    </p>
    <div
      class="grid grid-cols-3 gap-4 content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
      />
    </div>
  </div>
  <div
    class="w-full h-[1040px] justify-center content-evenly items-center grid justify-items-center"
  >
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Organigramme
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
    </div>
    <div class="w-[95%] h-[2px] bg-red-900"></div>
    <div class="flex justify-between items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
    </div>
    <div class="w-full h-[2px] bg-red-900"></div>
    <div class="flex justify-between items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur1.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
    </div>
  </div>
  <div
    class="w-full h-[509px] bg-red-50 content-evenly items-center grid justify-items-center"
  >
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Membres du bureau elargi
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-around items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Albert CAMUS'"
        [role]="'Directeur general'"
      />
    </div>
  </div>
  <div class="w-full h-[358px] content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Nos perspectives
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-center w-[80%]">
        Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus.
        Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat
        lectus viverra elit quisque. In egestas ut pellentesque mattis
        sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac
        nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec
        natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus
        vitae. Est gravida nulla id fringilla. Ac curabitur in congue neque at
        amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor. Lorem
        ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices
        magna euismod est lobortis tempus. Id arcu porttitor volutpat lectus
        viverra elit quisque. In egestas ut pellentesque mattis sollicitudin
        feugiat adipiscing venenatis egestas. Sed dignissim ac nulla dignissim
        vestibulum. Ut non id et pellentesque quam nibh nec natoque. Lobortis
        vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida
        nulla id fringilla. Ac curabitur in congue neque at amet risus nulla. Ac
        nulla vestibulum laoreet sed. Et enim tortor.
      </p>
    </div>
  </div>
  <div class="w-full h-[450px] bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Les diocèses
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-around">
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_rouge.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#A41523'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_rouge.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#A41523'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_rouge.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#A41523'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_rouge.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#A41523'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
    </div>
  </div>
  <div class="w-full h-[358px] content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Realisations & Resultats
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-center w-[80%]">
        Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus.
        Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat
        lectus viverra elit quisque. In egestas ut pellentesque mattis
        sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac
        nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec
        natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus
        vitae. Est gravida nulla id fringilla. Ac curabitur in congue neque at
        amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor. Lorem
        ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices
        magna euismod est lobortis tempus. Id arcu porttitor volutpat lectus
        viverra elit quisque. In egestas ut pellentesque mattis sollicitudin
        feugiat adipiscing venenatis egestas. Sed dignissim ac nulla dignissim
        vestibulum. Ut non id et pellentesque quam nibh nec natoque. Lobortis
        vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida
        nulla id fringilla. Ac curabitur in congue neque at amet risus nulla. Ac
        nulla vestibulum laoreet sed. Et enim tortor.
      </p>
    </div>
  </div>
</div>
