<div>
  <div
    class="w-full font-(family-name:--chakraregular) h-[50px] bg-red-50 content-center"
  >
    <p class="px-2 md:ml-[70px] font-(family-name:--chakraregular)">
      Accueil > Champs d’Apostolat > Santé > St Pio BRSF
    </p>
  </div>

  <div class="w-full h-max py-10 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Généralités
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex flex-col  justify-center items-center">
      <div class="flex flex-col lg:flex-row w-[80%] justify-center h-max">
        <p class="text-left md:text-center px-2">
          <b>Compassion - Réaction- Action</b><br />

          <span>Des personnes de bonne volonté,</span>

          <span
            >Vu la loi N°90/053 du 19 Décembre 1990 portant sur la liberté
            d’Association réaffirmée par le préambule de la Constitution
            Camerounaise du 18 Janvier 1996 ;</span
          >

          <span>
            Sensibles à la souffrance des patients en détresse pour le manque de
            sang dans nos établissements hospitaliers ;
          </span>

          <span>
            Convaincues que la mise sur pied d’une chaîne de solidarité et
            d’entraide peut contribuer au soulagement de ces malades.
          </span>

          <span> Ont décidé de servir d’interface par une Association. </span>
        </p>
        <img
          class="h-[202px] ml-[20px]"
          src="./images/logo-sante.png"
          alt="Logo sante"
        />
      </div>

      <div class="w-full flex items-center justify-center">
        <a routerLink="{{ genralityLink }}">
          <button
            class="px-4 cursor-pointer py-2 mt-4 text-white text-base rounded-lg bg-red-700"
          >
            En savoir plus
          </button>
        </a>
      </div>
    </div>

  <div class="w-full h-max py-8 bg-red-50 content-evenly items-center">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Missions
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center w-full mb-[40px]">Nous avons pour missions:</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-10 content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        *ngFor="let mission of missions; let i = index"
        [numero]="i + 1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="{{ mission }}"
        class="lg:last:col-start-2"
      />
    </div>

    <div class="mb-4"></div>
  </div>

  <div class="w-full h-max py-8 content-evenly items-center">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Nos leviers d’Actions
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center w-full mb-[40px]">Nous avons pour missions:</p>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-10 content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        *ngFor="let action of actions; let i = index"
        [numero]="i + 1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="{{ action }}"
        class="md:last:col-start-2"
      />
    </div>

    <div class="mb-4"></div>
  </div>

  <div class="w-full h-max py-8 bg-red-50">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Les Grandes dates
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center"></div>
  </div>

  <div class="w-full h-max py-8 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Nos Valeurs
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <ul class="list-disc w-[90%] md:w-[80%] list-outside ms-8">
        <li
          class="font-medium font-(family-name:--chakrameduim)"
          *ngFor="let value of values"
        >
          {{ value }}
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full h-max py-8 bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-red-700 mb-[20px]"
      >
        Nos perspectives
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="text-left w-[90%] md:w-[80%]">
        <p>
          <b>Perspectives à court terme</b>
        </p>

        <ul class="list-disc list-outside ms-8">
          <li
            class="font-(family-name:--chakrameduim) font-medium"
            *ngFor="let perspective of perspectives"
          >
            {{ perspective }}
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <a routerLink="{{ perspectivesLink }}">
        <button
          class="px-4 cursor-pointer py-2 mt-4 text-white text-base rounded-lg bg-red-700"
        >
          En savoir plus
        </button>
      </a>
    </div>
  </div>

  <div class="w-full h-max my-8 py-10 bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-bold font-(family-name:--arimabold) text-2xl text-red-700 mb-[20px]"
      >
        Les Zones d’intervention
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 w-[90%] gap-4">
        <app-health-car
          [image]="'./images/carousel_1.png'"
          [alt_message]="'sante'"
          [couleur]="'#A41523'"
          [name]="'REGION DU CENTRE'"
        />

        <app-health-car
          [image]="'./images/carousel_1.png'"
          [alt_message]="'sante'"
          [couleur]="'#A41523'"
          [name]="'REGION DU LITTORAL'"
        />

        <app-health-car
          [image]="'./images/carousel_1.png'"
          [alt_message]="'sante'"
          [couleur]="'#A41523'"
          [name]="'REGION DE L’EST'"
        />

        <app-health-car
          [image]="'./images/carousel_1.png'"
          [alt_message]="'sante'"
          [couleur]="'#A41523'"
          [name]="'REGION DE L’ADAMAOUA'"
        />

        <app-health-car
          [image]="'./images/carousel_1.png'"
          [alt_message]="'sante'"
          [couleur]="'#A41523'"
          [name]="'REGION DE L’EXTRÊME NORD'"
        />
      </div>
    </div>
  </div>
</div>
