<div class="w-full relative mb-[60px]">
  <div class="relative w-full">
    <div class="relative w-full">
      <app-carousel
        [images]="[
          'images/carousel_3.png',
          'images/carousel_1.png',
          'images/carousel_2.png',
          'images/carousel_3.png'
        ]"
      ></app-carousel>
    </div>

    <div class="mt-[80px]">
       <div class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{"home.title" | translate}}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="md:flex md:justify-center px-4 md:justify-items-center md:items-center w-full"
        >
          <div class=" md:w-[30%] md:h-[500px]">
            <img
              class="md:w-full md:h-[240px] "
              src="./images/Logo Oeuvre du Saint Padre Pio Origin-01.jpg"
              alt="Logo ostpiocam"
            />
            <img
              class="md:w-full md:h-[240px]"
              src="./images/Logo Jubilé des 20 ans de presence et d'actions version corrigée VF-01.jpg"
              alt="Logo jubile ostpiocam"
            />
            
          </div>

          <p class="text-justify md:w-[60%] font-(family-name:--chakraregular)">
            <span class="font-bold text-blue-700"
              >L’œuvre de Saint Padre Pio au Cameroun</span
            >
            est une initiative inspirée de la spiritualité et de l’engagement de
            Saint Padre Pio, visant à rassembler sous une même structure toutes
            les entités et actions portées en son nom dans le pays. Elle a pour
            mission de promouvoir la foi vivante, le service du prochain et
            l’unité des acteurs engagés autour de quatre axes principaux : la
            Spiritualité, la Santé, la Communication et l’Environnement. Fondée
            en 2005 à travers la Confrérie des Disciples de Saint Padre Pio
            (CODISAPIO), elle a progressivement donné naissance à plusieurs
            œuvres concrètes telles que la Saint Pio Blood Relief Suffering
            Foundation pour le don de sang, SIMEAS pour l’aide médicale dans les
            zones reculées, La Voix de Padre Pio Cameroun pour une communication
            enracinée dans la foi, et Green World for Man pour la promotion
            d’une écologie humaine centrée sur la dignité de l’homme.
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a routerLink="/presentation"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              En savoir plus
            </button></a
          >
        </div>
      </div>
      <div
        class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="mb-[40px] mt-[30px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Prolégomènes
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p
            class="text-left w-[90%] md:w-[80%] font-(family-name:--chakraregular)"
          >
            <span class="font-bold text-blue-700"
              >L’œuvre de Saint Padre Pio au Cameroun</span
            >
            trouve son origine dans un élan de foi, de prière et de service,
            nourri par la vie et l’exemple de Saint Padre Pio. Ce site web n’est
            pas simplement un espace d’information, mais un lieu de rencontre
            spirituelle, de témoignage et de mobilisation autour d’une mission :
            faire rayonner la charité, la compassion et l’unité dans notre
            société. Dans un monde traversé par la souffrance, les divisions et
            la perte de repères, l’Œuvre veut être une réponse concrète à
            l’appel de Dieu, en s’appuyant sur des actions visibles dans les
            domaines de la spiritualité, de la santé, de la communication et de
            l’environnement. À travers ce portail, chacun est invité à
            découvrir, comprendre, prier et s’engager, avec l’espérance que
            Saint Padre Pio continue d’intercéder pour notre pays et d’inspirer
            des chemins de foi vivante et active.
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a href="/prolegomene"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              En savoir plus
            </button></a
          >
        </div>
      </div>
      <div class="w-full pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[20px] mt-[30px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Fondateurs & Responsables
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="grid grid-cols-1 gap-[40px] justify-items-center items-center w-full px-[20px]"
        >
          <app-cardtext
            [image]="'images/Fondateur2.png'"
            [alt_message]="'Fondateur1'"
            [name]="'Noel SIMO'"
            [role]="'Fondateur'"
            [description]="
              'L’Œuvre de Saint Padre Pio au Cameroun est née d’un profond désir de faire vivre, ici et maintenant, l’héritage spirituel et humain de ce grand saint. Elle est le fruit de la prière, de l’écoute et de l’obéissance à une intuition intérieure, celle de rassembler toutes les bonnes volontés autour d’un idéal : servir Dieu en servant l’homme. Que cette plateforme soit un espace d’unité, de lumière et de ferveur pour tous ceux qui souhaitent marcher humblement sur les traces de Padre Pio, avec foi, charité et engagement sincère.'
            "
          ></app-cardtext>
          <app-cardtext
            [image]="'images/Fondateur2.png'"
            [alt_message]="'Fondateur2'"
            [name]="'Noel SIMO'"
            [role]="'Coordonateur general'"
            [description]="
              'Porter l’Œuvre de Saint Padre Pio est à la fois une grâce et une responsabilité. Dans un monde en quête de repères, elle incarne un chemin d’espérance fondé sur la prière, l’action concrète et la fraternité. Notre mission est de garder vivant le message du saint, d’agir avec foi dans les domaines qui touchent le cœur de l’homme : la santé, la spiritualité, l’environnement et la communication. Ensemble, unis dans l’amour du Christ, nous poursuivons cette aventure divine, avec courage et fidélité. Que chacun y trouve sa place et s’y sente appelé.'
            "
          ></app-cardtext>
        </div>
      </div>
      <div
        class="w-full md:h-[595px] mt-4 pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="mb-[40px] mt-[30px]">
          <h2
            id="champsapostolat"
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Champs d'Apostolat
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center items-center bg-blue-50 w-full flex-wrap gap-y-6">
          <a class="" routerLink="{{ activityLink }}">
            <app-cardimage
              [image]="'images/spiritualite.jpg'"
              [alt_message]="'spiritualite'"
              [bg]="'#FCE589'"
              [couleur]="'yellow'"
              [title]="'Spiritualité'"
              hoverText="Suivez l'exemple  du Padre Pio : mediation, sacrements et paix de l'âme"
            ></app-cardimage>
          </a>
          <a routerLink="{{ healthLink }}">
            <app-cardimage
              [image]="'images/sante.jpg'"
              [alt_message]="'sante'"
              [bg]="'#F29B9E'"
              [couleur]="'red'"
              [title]="'Santé'"
              hoverTitle="Le corps est un temple"
              hoverText="Soignez vous par des approches douces en union avec prière"
            ></app-cardimage>
          </a>
          <a routerLink="{{ communicationLink }}">
            <app-cardimage
              [image]="'images/communication.jpg'"
              [alt_message]="'communication'"
              [bg]="'#9EC5E8'"
              [couleur]="'blue'"
              [title]="'Communication'"
              hoverTitle="Parlez avec charité"
              hoverText="Développez une parole vraie et bienveillante"
            ></app-cardimage>
          </a>
          <a routerLink="{{ environnementLink }}">
            <app-cardimage
              [image]="'images/environnement.jpg'"
              [alt_message]="'environnement'"
              [bg]="'#97F2AC'"
              [couleur]="'green'"
              [title]="'Environnement'"
              hoverTitle="La création est un don de Dieu"
              hoverText="Apprenez à la protéger avec respect "
            ></app-cardimage>
          </a>
        </div>
      </div>
      <div class="w-full md:h-[500px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px] mt-[30px]">
          <h2
            id="actualites"
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Actualités globales
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="grid md:flex grid-cols-1 justify-center items-center w-full"
        >
          <ng-container *ngFor="let actualite of actualites()">
            <a href="/actualite" ariaCurrentWhenActive="page">
              <app-verticalcardtext
                [image]="actualite.image"
                [alt_message]="actualite.altMessage"
                [date_publication]="actualite.date"
                [description]="actualite.description"
                [name]="actualite.name"
                [color]="actualite.color"
              >
              </app-verticalcardtext>
            </a>
          </ng-container>
        </div>
      </div>
      <div class="w-full h-max py-8 content-evenly items-center">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold font-(family-name:--arimabold) text-3xl text-blue-700 mb-[20px]"
          >
            Les Grandes dates
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-300 h-[1px] w-[50px]"></div>
            <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="flex w-full px-2 justify-items-center grid md:grid-cols-2 gap-4 justify-around items-around"
        >
          <ng-container *ngFor="let grandedate of grandesDates()">
            <app-rdvcard
              [bg]="'#D4EDDA'"
              [color]="'#28A745'"
              [hovercolor]="'#0F3B1C'"
              [title]="grandedate.title"
              [description]="grandedate.description"
              [annee]="grandedate.annee"
              [mois]="grandedate.mois"
              [jour]="grandedate.jour"
              [mois]="grandedate.mois"
              [jour]="grandedate.jour"
            />
          </ng-container>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a href="/"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              Voir plus
            </button></a
          >
        </div>
      </div>
      <div
        class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="pb-[40px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mt-[20px] mb-[20px] font-(family-name:--arimabold)"
          >
            Nos perspectives
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="text-justify w-[90%] md:w-[80%] font-(family-name:--chakraregular)">
            Fidèle à sa mission d’évangélisation intégrale et de service de
            l’homme dans toutes ses dimensions, l’Œuvre de Saint Padre Pio au
            Cameroun se projette résolument vers l’avenir avec des ambitions
            claires et structurantes. À court terme, elle envisage la
            construction de sanctuaires dédiés à Saint Padre Pio dans les
            principales provinces ecclésiastiques du pays. Ces lieux saints
            seront non seulement des espaces de recueillement et de prière, mais
            aussi des centres de pèlerinage, de formation spirituelle et de
            rassemblement fraternel pour les fidèles, dans un esprit de
            communion et de renouveau missionnaire. Sur le long terme, plusieurs
            projets de grande portée sont en gestation. D’abord, la mise en
            place d’un Centre d’information spirituelle sur la vie des saints,
            avec un accent particulier sur celle de Saint Padre Pio, offrira aux
            jeunes, aux chercheurs et aux fidèles un espace d’instruction, de
            recherche et de ressourcement autour des figures marquantes de la
            sainteté. Ce centre vise à raviver la foi et à susciter des
            vocations par le témoignage de vies offertes à Dieu. Ensuite,
            l’Œuvre ambitionne de construire un centre hospitalier de référence,
            baptisé « Hôpital Saint Padre Pio de Pietrelcina », qui incarnera
            l’amour du prochain dans sa forme la plus concrète. Cet
            établissement combinera excellence médicale, accueil humain et
            accompagnement spirituel, dans la droite ligne de l’idéal de
            compassion et de service que portait Saint Padre Pio. Ces projets,
            portés par la foi, la prière et la générosité des partenaires,
            permettront à l’Œuvre de s’enraciner durablement dans le paysage
            ecclésial et social du Cameroun, en y apportant lumière, espérance
            et transformation profonde
          </p>
        </div>

      </div>
      <div class="w-full h-max mt-8 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-3xl font-(family-name:--arimabold) text-blue-700 mb-[20px]"
          >
            Nos entités/organisations formalisantes
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="md:flex md:justify-center md:items-center w-full flex-wrap gap-y-6">
          <img
            class="w-[200px] lg:w-[175px] h-[100px] mx-[30px]"
            src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png"
            alt="bgfi"
          />
          <img
            class="w-[200px] lg:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo Saint Pio Blood Relief Suffering Foundation Origin-01.jpg"
            alt="crtv"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
            alt="huawei"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo La voie de Padre Pio Origin-01.png"
            alt="sabc"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo Green World for Man Origin-01.jpg"
            alt="cisco"
          />
        </div>
      </div>
    </div>
  </div>
</div>
