<div class="w-full relative mb-[60px]">
  <div class="relative w-full">
    <div class="relative">
      <app-carousel [images]="['images/slide1.jpg', 'images/slide2.jpg', 'images/slide3.jpg']"></app-carousel>
    </div>
    <div class="mt-[60px]">
      <div class="w-full md:h-[286px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Présentation
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="text-center w-[80%]">Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices magna euismod est lobortis tempus.
            Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut pellentesque mattis sollicitudin feugiat adipiscing
            venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec natoque.
            Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id fringilla. Ac curabitur in congue
            neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor.
          </p>
        </div>
      </div>
      <div class="w-full md:h-[358px] pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly">
        <div class="mb-[40px]">
          <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Prolégomènes
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="text-center w-[80%]">Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices magna euismod est 
            lobortis tempus. Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut pellentesque mattis sollicitudin feugiat 
            adipiscing venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec natoque. 
            Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id fringilla. Ac curabitur in congue 
            neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor. Lorem ipsum dolor sit amet consectetur. Neque montes 
            enim et lacus. Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut 
            pellentesque mattis sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et 
            pellentesque quam nibh nec natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id 
            fringilla. Ac curabitur in congue neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor.
          </p>
        </div>
      </div>
      <div class="w-full md:h-[460px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Fondateurs & Responsables
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="md:flex justify-center">
          <app-cardtext [image]="'images/Fondateur1.png'" [alt_message] = "'Fondateur1'" [name]="'Albert CAMUS'" [role]="'Fondateur'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
          <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur2'" [name]="'Frank ONANA'" [role]="'Coordonateur general'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
        </div>
      </div>
      <div class="w-full md:h-[595px] pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly">
        <div class="mb-[40px]">
          <h2 id="champsapostolat" class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Champs d'apostolat
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="md:flex justify-center items-center w-full">
          <a routerLink="/spiritualite" routerLinkActive="active" ariaCurrentWhenActive="page" >
            <app-cardimage [image]="'images/spiritualite.jpg'" [alt_message]="'spiritualite'" [couleur]="'yellow'" [title]="'Spiritualite'"></app-cardimage>
          </a>
          <a routerLink="/sante" routerLinkActive="active" ariaCurrentWhenActive="page" >
            <app-cardimage [image]="'images/sante.jpg'" [alt_message]="'sante'" [couleur]="'red'" [title]="'sante'"></app-cardimage>
          </a>
          <a routerLink="/communication" routerLinkActive="active" ariaCurrentWhenActive="page" >
            <app-cardimage [image]="'images/communication.jpg'" [alt_message]="'communication'" [couleur]="'blue'" [title]="'communication'"></app-cardimage>
          </a>
          <a routerLink="/environnement" routerLinkActive="active" ariaCurrentWhenActive="page" >
            <app-cardimage [image]="'images/environnement.jpg'" [alt_message]="'environnement'" [couleur]="'green'" [title]="'environnement'"></app-cardimage>
          </a>
        </div>
      </div>
      <div class="w-full md:h-[460px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2 id="actualites" class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Actualités globales
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="md:flex justify-center items-center w-full">
          <app-verticalcardtext [image]="'images/actu1.jpg'" [alt_message]="'actu_spiritualite'" [date_publication]="'Publie le 11/02/2025 a 13h02'" [description]="'Celebration de la fete de la jeunesse dans la Mifi en priere.'" [name]="'Spiritualite'"></app-verticalcardtext>
          <app-verticalcardtext [image]="'images/actu2.jpg'" [alt_message]="'actu_Sante'" [date_publication]="'Publie le 12/01/2025 a 13h02'" [description]="'Nouvelle campagne de don de sang dans le departement de la Sanaga-Maritime'" [name]="'Sante'"></app-verticalcardtext>
          <app-verticalcardtext [image]="'images/actu3.jpg'" [alt_message]="'actu_environnement'" [date_publication]="'Publie le 06/02/2025 a 14h02'" [description]="'Programme de nettoyage de la ville de Kaele par les jeunes de la communaute'" [name]="'environnement'"></app-verticalcardtext>
          <app-verticalcardtext [image]="'images/actu4.jpg'" [alt_message]="'actu_communication'" [date_publication]="'Publie le 01/02/2025 a 09h02'" [description]="'Compte rendu de la conference de presse du coordonnateur a Rome'" [name]="'communication'"></app-verticalcardtext>
        </div>
      </div>
      <div class="w-full md:h-[358px] pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly">
        <div class="mb-[40px]">
          <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Nos perspectives
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="text-center w-[80%]">Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices magna euismod est 
            lobortis tempus. Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut pellentesque mattis sollicitudin feugiat 
            adipiscing venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec natoque. 
            Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id fringilla. Ac curabitur in congue 
            neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor. Lorem ipsum dolor sit amet consectetur. Neque montes 
            enim et lacus. Ultrices magna euismod est lobortis tempus. Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut 
            pellentesque mattis sollicitudin feugiat adipiscing venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et 
            pellentesque quam nibh nec natoque. Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id 
            fringilla. Ac curabitur in congue neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor.
          </p>
        </div>
      </div>
      <div class="w-full md:h-[300px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
            Nos partenaires
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="md:flex justify-center items-center w-full pb-5 md:pb-0">
          <img class="w-[175px] h-[100px] mx-auto md:mx-[30px]" src="./images/partner1.jpg" alt="bgfi"/>
          <img class="w-[175px] h-[100px] mx-auto md:mx-[30px]" src="./images/partner2.jpg" alt="crtv"/>
          <img class="w-[175px] h-[100px] mx-auto md:mx-[30px]" src="./images/partner3.jpg" alt="huawei"/>
          <img class="w-[175px] h-[100px] mx-auto md:mx-[30px]" src="./images/partner4.jpg" alt="sabc"/>
          <img class="w-[175px] h-[100px] mx-auto md:mx-[30px]" src="./images/partner5.jpg" alt="cisco"/>
        </div>
      </div>
    </div>
  </div>
</div>