<div class="w-full relative mb-[60px]">
  <div class="relative w-full">
    <div class="relative w-full">
      <app-carousel
        [images]="[
          'images/carousel_3.png',
          'images/carousel_1.png',
          'images/carousel_2.png',
          'images/carousel_3.png'
        ]"
      ></app-carousel>
    </div>

    <div class="mt-[80px]">
      <div class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "home.title" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="md:flex md:justify-center px-4 md:justify-items-center md:items-center w-full"
        >
          <div class="md:w-[30%] md:h-[500px]">
            <img
              class="md:w-full md:h-[240px]"
              src="./images/Logo Oeuvre du Saint Padre Pio Origin-01.jpg"
              alt="Logo ostpiocam"
            />
            <img
              class="md:w-full md:h-[240px]"
              src="./images/Logo Jubilé des 20 ans de presence et d'actions version corrigée VF-01.jpg"
              alt="Logo jubile ostpiocam"
            />
          </div>

          <p class="text-justify md:w-[60%] font-(family-name:--chakraregular)">
            <span class="font-bold text-blue-700">{{
              "home.presentation-title" | translate
            }}</span>
            {{ "home.presentation-des" | translate }}
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a routerLink="/presentation"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              {{ "home.presentation-read-more" | translate }}
            </button></a
          >
        </div>
      </div>
      <div
        class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="mb-[40px] mt-[30px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "home.Prolegomena" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p
            class="text-left w-[90%] md:w-[80%] font-(family-name:--chakraregular)"
          >
            <span class="font-bold text-blue-700">{{
              "home.Prolegomena-title" | translate
            }}</span>
            {{ "home.Prolegomena-des" | translate }}
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a href="/prolegomene"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              {{ "home.presentation-read-more" | translate }}
            </button></a
          >
        </div>
      </div>
      <div class="w-full pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[20px] mt-[30px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "home.founder&responsable" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="grid grid-cols-1 gap-[40px] justify-items-center items-center w-full px-[20px]"
        >
          <app-cardtext
            image="images/Fondateur2.png"
            alt_message="Fondateur1"
            [name]="'home.founder-card-text.one.name' | translate"
            [role]="'home.founder-card-text.one.role' | translate"
            [description]="'home.founder-card-text.one.des' | translate"
          >
          </app-cardtext>

          <app-cardtext
            image="images/Fondateur2.png"
            alt_message="Fondateur2"
            [name]="'home.founder-card-text.two.name' | translate"
            [role]="'home.founder-card-text.two.role' | translate"
            [description]="'home.founder-card-text.two.des' | translate"
          >
          </app-cardtext>
        </div>
      </div>
      <div
        class="w-full md:h-[595px] mt-4 pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="mb-[40px] mt-[30px]">
          <h2
            id="champsapostolat"
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{"home.main-field-apostolate.title" | translate}}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="flex justify-center items-center bg-blue-50 w-full flex-wrap gap-y-6"
        >
          <a class="" routerLink="{{ activityLink }}">
            <app-cardimage
              [image]="'images/spiritualite.jpg'"
              [alt_message]="'spiritualite'"
              [bg]="'#FCE589'"
              [couleur]="'yellow'"
              [title]="'home.main-field-apostolate.spirituality.title' | translate"
              [hoverText]="'home.main-field-apostolate.spirituality.text' | translate"
            ></app-cardimage>
          </a>
          <a routerLink="{{ healthLink }}">
            <app-cardimage
              [image]="'images/sante.jpg'"
              [alt_message]="'sante'"
              [bg]="'#F29B9E'"
              [couleur]="'red'"
              [title]="'home.main-field-apostolate.health.title' | translate"
              [hoverTitle]="'home.main-field-apostolate.health.text' | translate"
              [hoverText]="'home.main-field-apostolate.health.hover' | translate"
            ></app-cardimage>
          </a>
          <a routerLink="{{ communicationLink }}">
            <app-cardimage
              [image]="'images/communication.jpg'"
              [alt_message]="'communication'"
              [bg]="'#9EC5E8'"
              [couleur]="'blue'"
              [title]="'home.main-field-apostolate.health.title' | translate"
              [hoverTitle]="'home.main-field-apostolate.health.text' | translate"
              [hoverText]="'home.main-field-apostolate.health.hover' | translate"
            ></app-cardimage>
          </a>
          <a routerLink="{{ environnementLink }}">
            <app-cardimage
              [image]="'images/environnement.jpg'"
              [alt_message]="'environnement'"
              [bg]="'#97F2AC'"
              [couleur]="'green'"
              [title]="'home.main-field-apostolate.health.title' | translate"
              [hoverTitle]="'home.main-field-apostolate.health.text' | translate"
              [hoverText]="'home.main-field-apostolate.health.hover' | translate"
            ></app-cardimage>
          </a>
        </div>
      </div>
      <div class="w-full md:h-[500px] pt-5 md:pt-0 pb-5 md:pb-0 content-evenly">
        <div class="mb-[40px] mt-[30px]">
          <h2
            id="actualites"
            class="text-center font-bold text-3xl text-blue-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{"home.main-global-news.title" | translate}}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="grid md:flex grid-cols-1 justify-center items-center w-full"
        >
          <ng-container *ngFor="let actualite of actualites()">
            <a href="/actualite" ariaCurrentWhenActive="page">
              <app-verticalcardtext
                [image]="actualite.image"
                [alt_message]="actualite.altMessage"
                [date_publication]="actualite.date"
                [description]="actualite.description"
                [name]="actualite.name"
                [color]="actualite.color"
              >
              </app-verticalcardtext>
            </a>
          </ng-container>
        </div>
      </div>
      <div class="w-full h-max py-8 content-evenly items-center">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold font-(family-name:--arimabold) text-3xl text-blue-700 mb-[20px]"
          >
          {{"home.key-dates.title" | translate}}

          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-300 h-[1px] w-[50px]"></div>
            <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="flex w-full px-2 justify-items-center grid md:grid-cols-2 gap-4 justify-around items-around"
        >
          <ng-container *ngFor="let grandedate of grandesDates()">
            <app-rdvcard
              [bg]="'#D4EDDA'"
              [color]="'#28A745'"
              [hovercolor]="'#0F3B1C'"
              [title]="grandedate.title"
              [description]="grandedate.description"
              [annee]="grandedate.annee"
              [mois]="grandedate.mois"
              [jour]="grandedate.jour"
              [mois]="grandedate.mois"
              [jour]="grandedate.jour"
            />
          </ng-container>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a href="/"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-blue-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              {{"see-more" | translate}}
            </button></a
          >
        </div>
      </div>
      <div
        class="w-full h-max pt-5 md:pt-0 pb-5 md:pb-0 bg-blue-50 content-evenly"
      >
        <div class="pb-[40px]">
          <h2
            class="text-center font-bold text-3xl text-blue-700 mt-[20px] mb-[20px] font-(family-name:--arimabold)"
          >
            {{"home.perspectives.title" | translate}}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center">
          <p
            class="text-justify w-[90%] md:w-[80%] font-(family-name:--chakraregular)"
          >
           {{"home.perspectives.des" | translate}}
          </p>
        </div>
      </div>
      <div class="w-full h-max mt-8 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-3xl font-(family-name:--arimabold) text-blue-700 mb-[20px]"
          >
           {{"ours-partners" | translate}}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
            <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-blue-500 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div
          class="md:flex md:justify-center md:items-center w-full flex-wrap gap-y-6"
        >
          <img
            class="w-[200px] lg:w-[175px] h-[100px] mx-[30px]"
            src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png"
            alt="bgfi"
          />
          <img
            class="w-[200px] lg:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo Saint Pio Blood Relief Suffering Foundation Origin-01.jpg"
            alt="crtv"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
            alt="huawei"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo La voie de Padre Pio Origin-01.png"
            alt="sabc"
          />
          <img
            class="w-[200px] md:w-[175px] h-[100px] object-cover mx-[30px]"
            src="./images/Logo Green World for Man Origin-01.jpg"
            alt="cisco"
          />
        </div>
      </div>
    </div>
  </div>
</div>
