<div>
  <div class="w-full h-[50px] font-(family-name:--chakraregular) bg-green-50 content-center">
    Accueil > Champs d'Apostolat > environnement > Historicité
  </div>

  <div class="relative w-full mb-10">
    <div class="bg-[#D4EDDA] py-4 flex justify-center items-center">
      <h1 class="text-[#1E7D33] font-(family-name:--armiabold) text-4xl font-bold">Historicité</h1>
    </div>
  </div>

  <div class="w-full flex  font-(family-name:--chakraregular) flex-col items-center justify-center">
    <div class="w-[90%]">
      <p>
        Ces campagnes menées entre 2012 et 2014, notamment lors des déploiements
        relatifs aux activités commémoratives de la Journée Mondiale du Donneur
        de Sang (JMDS) et de la «  Foire Promote 2014 » par moment autour du 23
        Septembre spécialement, ont révélé un profond  manque d’engagement sur
        les questions environnentales en général et  au Don de Sang en
        particulier au cœur d’une Société totalement déstructurée en proie à la
        « dictature du bruit ».
      </p>

      <p class="my-2">
        Dans un contexte très problématique, durant cette période, plus de 300
        Entreprises et autres Organisations de la Société Civile ont été
        sensibilisées aux enjeux  du Don de Sang  et de la Transfusion Sanguine 
        au Cameroun.
      </p>

      <p class="my-2">
        De fait, la sécurité transfusionnelle est un enjeu majeur de santé
        publique qui vise à protéger les patients et  à garantir la qualité des
        soins
      </p>

      <p class="mt-6">
        <span class="ml-10">La Saint Pio Blood</span> Relief Suffering
        Foundation  à l’origine de ces initiatives a dû faire face à un chemin
        parsemé de beaucoup d’embuches
      </p>

      <p class="my-2">
        Des objectifs ambitieux, des réponses décevantes dans sa dynamique des
        actions transversales et combinées face à l’ampleur de la situation
        aussi fallait –il se réinventer : dans un environnement où non
        seulement  la culture du « Donner spontanément » n’est pas encore assez
        incrustée dans les mœurs ,mais aussi et surtout on parle publiquement
        peu du Don de Sang et généralement rien qu’autour de la Journée Mondiale
        du Donneur de Sang le 14 Juin et ça suffit.
      </p>

      <p class="my-2">
        Les objectifs visés  de ces multiples actions d’immersions au large des
        grandes structures politiques, économiques, sociales, humanitaires et ou
        des grandes Institutions, étaient de :
      </p>

      <p class="my-2">
        -          Informer les décideurs, Haut-cadres des administrations
        centrales et dirigeants d’Entreprises avec pour principales cibles
        (Directeur des Ressources Humaines et de la Communication) sur le niveau
        des besoins et de l’offre en Sang et les défis associés ;
      </p>

      <p class="my-2">
        -          Sensibiliser sur l’importance du Don de Sang et la
        Transfusion Sanguine ;
      </p>

      <p class="my-2">
        -          Renforcer la culture du Don de Sang Bénévole au sein des
        Entreprises et Institution en attirant l’attention des grands dirigeants
        d’Entreprises (DRH, DIRCOM) ;
      </p>

      <p class="my-2">
        -          Promouvoir la culture du Don de Sang Bénévole, Volontaire,
        Régulier  et Non Rémunéré au sein des Entreprises  et des Institutions ;
      </p>

      <p class="my-2">
        -          Susciter une prise de conscience aiguë, sur l’analyse
        situationnelle en vue de les encourager à l’intégration d’actions  de
        promotion du Don de Sang dans leurs Feuilles de route RSE  des
        Entreprises;
      </p>

      <p class="my-2">
        -          Mobiliser les  OSC pour le plaidoyer en faveur de la
        protection des vies humaines …
      </p>

      <p class="my-2">
        -          Inscrire  la Journée Mondiale du Donneur de Sang (JMDS - le
        14 Juin) dans les Agendas des Institutions au même titre que la Journée
        de la Femme (le 08 Mars) ou le (1er Décembre) pour la Journée mondiale
        de lutte contre le  VIH-SIDA
      </p>

      <p class="my-2">
        Cependant, la réalité fut cruelle. Lors du 1er Congrès National  des
        Donneurs de Sang du Cameroun en 2016, autant qu’en 2021 pour le compte
        du 2ème Congrès, la plus part des Entreprises et Organisations
        sollicitées pour un soutien ont répondu négativement. Arguant que le Don
        de Sang n’était leur priorité. Des phrases telles que  (« le Don de Sang
        ne fait pas partie de nos priorités » ; « ce n’est pas notre champ
        d’application » ; «  le Don de Sang ne nous intéresse pas du tout. »
        Nous sommes plus préoccupés par les questions de déchets plastiques et
        autres. » ; « Excusez-nous Monsieur, nous avons réunion. Pour l’instant
        nous avons autre chose à faire. »)  ont été fréquemment entendues çà et
        là dans un air de suffisance et de condescendance.
      </p>

      <p class="my-2">
        Sur près de 350 Structures contactées entre 2016 et 2021 dans le cadre
        des éditions de l’Evénement susmentionné  à peine 05 %  ont apporté une
        réponse favorable.
      </p>

      <p class="my-2">
        Antoine de Saint Exupéry disait : « L’homme se découvre  quand il se
        mesure à l’obstacle. »
      </p>

      <p class="my-2">
        Un déclic personnel, une prise de conscience environnementale
      </p>

      <p class="my-2">
        Malgré les obstacles, une situation personnelle a servi de catalyseur.
        La prise en charge d’un prêtre atteint de leucémie, conséquence probable
        d’une exposition à des émanations toxiques lors de travaux de rénovation
        du presbytère a mis en lumière des liens entre la Santé et
        l’Environnement.
      </p>

      <p class="my-2 mb-10">
        Cette expérience combinée à la lecture de la deuxième Lettre Encyclique
        « Laudato Si » (Mai 2015) du Pape François a renforcé la conviction de
        la nécessité d’agir pour protéger « la maison commune », l’humain,
        ’objet et sujet formel  de la Création, créé à l’image et à la
        ressemblance de Dieu. Cela dit, l’Homme doit être au cœur de cette
        démarche.
      </p>
    </div>
  </div>
</div>
