<!-- src/app/shared/navbar.component.html -->

<nav>
  <div
    class="h-[60px] w-full flex content-center items-center fixed z-20 bg-white px-[30px] px-[10px] shadow-xl"
  >
    <div class="mr-[60px]">
      <a class="items-center flex" href="#">
        <img
          class="h-[60px] w-[200px] mr-[20px]"
          src="./images/Logo Oeuvre du Saint Padre Pio Origin-01.jpg"
          alt="logo ostpiocam"
        />
      </a>
    </div>
    <div class="hidden md:block items-center mr-[60px]">
      <div class="h-[60px] items-center content-center">
        <div
          class="h-[40px] pr-[10px] flex outline-offset-2 outline-sky-500 focus:outline-2 rounded-full items-center border-[2px] border-gray-400"
        >
          <input
            class="h-[40px] focus:outline-0 px-[20px] border-x-0 border-t-0 rounded-l-lg font-(family-name:--chakraregular)"
            type="text"
            placeholder="Rechercher"
          />
          <img
            class="rounded-full h-[30px] w-[30px]"
            src="./images/search.png"
            alt="recherche"
          />
        </div>
      </div>
    </div>

    <div class="hidden md:flex h-[60px] w-[60%] justify-end items-center">
      <div class="w-[70%]">
        <div class="w-full">
          <ol class="flex justify-around items-center w-full">
            <li *ngFor="let link of links" role="none">
              <a
                role="menuitem"
                [routerLink]="link.path"
                routerLinkActive="bg-[#0056B3] text-white"
                #rla="routerLinkActive"
                [routerLinkActiveOptions]="
                  link.path === '' ? { exact: false } : { exact: true }
                "
                class="p-4 transition-colors font-chakraregular text-gray-600 hover:text-blue-800"
                [ngClass]="{
                  'bg-[#0056B3] text-white': rla.isActive,
                  'text-gray-600 hover:text-blue-800': !rla.isActive
                }"
                [attr.aria-current]="rla.isActive ? 'page' : null"
              >
                {{ link.label }}
              </a>
            </li>
          </ol>
        </div>
      </div>
      <div
        class="h-[60px] items-center content-center mx-[30px] justify-items-end"
      >
        <div
          class="w-[45] h-[45] items-center rounded-full border-[1px] border-gray-400"
        >
          <a href="#">
            <img
              class="rounded-full"
              src="./images/User.jpg"
              width="26"
              height="26"
              alt="profile"
            />
          </a>
        </div>
      </div>
      <div class="justify-items-end items-center relative">
        <div>
          <a href="#"
            ><h1 class="w-[30px] h-[30px] text-center bg-neutral-300">FR</h1></a
          >
        </div>
        <div>
          <a href="#"
            ><h1
              class="w-[30px] h-[30px] text-center text-neutral-300 text-white bg-blue-800"
            >
              EN
            </h1></a
          >
        </div>
      </div>
    </div>

    <div class="md:hidden relative ml-auto">
      <button
        id="burger-button"
        class="text-gray-500 hover:text-blue-800 focus:outline-none"
        (click)="revealmenu()"
        (mouseleave)="hidemenu()"
      >
        <svg
          class="w-8 h-8"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>

      <div
        id="mobile-menu"
        [class.hidden]="hidden"
        class="absolute w-[250px] z-20 md:hidden top-[50px] right-[-30px] bg-white shadow-lg"
      >
        <div class="px-4 py-2">
          <div class="flex items-center mb-4 w-full">
            <div
              class="h-[40px] pr-[10px] flex outline-offset-2 outline-sky-500 focus:outline-2 items-center rounded-full border-[2px] border-gray-400"
            >
              <input
                class="h-[40px] w-[180px] focus:outline-0 px-[20px] border-x-0 border-t-0 rounded-l-lg"
                type="text"
                placeholder="Rechercher"
              />
              <img
                class="rounded-full h-[30px] w-[30px]"
                src="./images/search.png"
                alt="recherche"
              />
            </div>
          </div>

          <ol class="space-y-4">
            <li *ngFor="let link of links">
              <a
                class="block py-2 transition"
                [routerLink]="link.path"
                routerLinkActive="text-blue-800 bg-blue-50"
                #rlaM="routerLinkActive"
                [routerLinkActiveOptions]="{ exact: true }"
                [ngClass]="
                  rlaM.isActive ? '' : 'text-gray-500 hover:text-blue-800'
                "
                [attr.aria-current]="rlaM.isActive ? 'page' : null"
              >
                {{ link.label }}
              </a>
            </li>
          </ol>

          <div class="flex items-center justify-between mt-4">
            <div
              class="h-[45px] w-[45px] items-center rounded-full border-[1px] border-gray-400 flex justify-center"
            >
              <a href="#">
                <img
                  class="rounded-full"
                  src="./images/User.jpg"
                  width="26"
                  height="26"
                  alt="profile"
                />
              </a>
            </div>
            <div class="flex space-x-2">
              <div>
                <a href="#"
                  ><h1 class="w-[30px] h-[30px] text-center bg-neutral-300">
                    FR
                  </h1></a
                >
              </div>
              <div>
                <a href="#"
                  ><h1
                    class="w-[30px] h-[30px] text-center text-neutral-300 text-white bg-blue-800"
                  >
                    EN
                  </h1></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
