<section class="w-full relative">
  <div class="relative top-[60px] h-full mb-[150px] w-full">
    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-bold">
        Informations sur le compte
      </h1>
    </div>
  </div>

  <div class="w-full flex items-center justify-center mb-20">
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-col items-center">
        <img
          class="w-[236px] h-[236px] rounded-lg"
          src="./images/Fondateur2.png"
          alt="add your images here"
        />

        <div class="flex flex-col gap-y-4 mt-4 text-center">
          <div class="text-3xl font-bold text-center">{{"Noel SiMO"}}</div>

          <span class="text-2xl font-medium">{{"noelsimo@gmail.com" }}</span>
          <span class="text-xl font-medium">{{"237 699 458 614"}}</span>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center px-2 gap-y-4">
        <button class="border w-full max-w-[350px] md:w-[350px] cursor-pointer font-bold text-sm rounded border-[#AAAAAA] h-[48px] px-4">
          Modifier mon profile
        </button>


        <button class="border w-full max-w-[350px] md:w-[350px] cursor-pointer font-bold text-sm text-white rounded border-[#AAAAAA] bg-[#007BFF] h-[48px] px-4">
          Changer de mot de passe
        </button>

     
      </div>
    </div>
  </div>
</section>
