<div>
  <div class="w-full h-[50px] bg-red-50 content-center">
    <p class="ml-[70px]">Accueil > Champs d'apostolat > Sante > Galerie</p>
  </div>
  <div class="w-full content-evenly">
    <div class="my-[60px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Galerie
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center  content-center">
      <div class="flex w-[1200px] h-[600px]">
        <div class="w-[600px] h-[600px]">
          <div class="flex w-[600px]">
            <img
              class="h-[300px] w-[300px]"
              src="./images/centre_sante.jpg"
              alt="Logo ostpiocam spiritualite"
            />
            <img
              class="h-[300px] w-[300px]"
              src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
              alt="Logo ostpiocam spiritualite"
            />
          </div>
          <div class="flex w-[600px]">
            <img
              class="h-[300px] w-[300px]"
              src="./images/centre_sante.jpg"
              alt="Logo ostpiocam spiritualite"
            />
            <img
              class="h-[300px] w-[300px]"
              src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
              alt="Logo ostpiocam spiritualite"
            />
          </div>
        </div>
        <div class="w-[600px] h-[600px] relative">
          <div
            class="absolute z-2 w-[600px] h-[600px] hover:bg-gray-900 hover:opacity-75 bg-transparent justify-center content-center"
          >
            <a
              href="#"
              class="opacity-100 ml-[250px] border-[2px] px-4 rounded-[5px] text-white text-[26px]"
              >Voir plus +</a
            >
          </div>
          <img
            class="w-[600px] h-[600px]"
            src="./images/centre_sante.jpg"
            alt="Logo ostpiocam spiritualite"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-center  content-center">
      <div class="grid md:grid-cols-4 grid-cols-1 w-[1200px] ">
        <ng-container *ngFor="let image of galeries()">
          <ng-container *ngFor="let photo of image.photos">
            <div class="w-[300px] h-[300px]">
              <img
                class="w-[300px] h-[300px]"
                src={{photo.imageUrl}}
                alt={{photo.caption}}
              />
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

  </div>
  <div class="w-full h-[300px] content-evenly mt-[200px]">
    <div class="mb-[40px]">
      <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
        Nos partenaires
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-500 h-[1px] w-[50px]"></div>
        <div class="bg-red-800 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-500 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center items-center w-full">
      <img
        class="w-[175px] h-[100px] mx-[30px]"
        src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png"
        alt="bgfi"
      />
      <img
        class="w-[175px] h-[100px] mx-[30px]"
        src="./images/Logo Saint Pio Blood Relief Suffering Foundation Origin-01.jpg"
        alt="crtv"
      />
      <img
        class="w-[175px] h-[100px] mx-[30px]"
        src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
        alt="huawei"
      />
      <img
        class="w-[175px] h-[100px] mx-[30px]"
        src="./images/Logo La voie de Padre Pio Origin-01.png"
        alt="sabc"
      />
      <img
        class="w-[175px] h-[100px] mx-[30px]"
        src="./images/Logo Green World for Man Origin-01.jpg"
        alt="cisco"
      />
    </div>
  </div>
</div>
