<section class="w-full relative">
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-bold">
        Changement de Mot de Passe
      </h1>
    </div>
  </div>

  <div class="w-full flex items-center justify-center mb-20">
    <div class="flex flex-col gap-y-4">
      <p class="text-2xl font-bold">
        Renseignez les informations suivantes pour changer de mot de passe
      </p>

      <form action="" class="w-full flex items-center justify-center">
        <div class="flex flex-col items-center sm:w-[300px]  md:w-[450px] justify-center px-2 gap-y-6">
          <div class="flex flex-col w-full">
            <label for="" class="text-base block font-bold"
              >Ancien mot de passe</label
            >
            <input
              placeholder="text"
              class="border-[#AAAAAA] px-3 border outline-none focus:border-[#007BFF] h-[48px] rounded-lg w-full"
            />
          </div>

          <div class="flex flex-col w-full">
            <label for="" class="text-base block font-bold"
              >Nouveau Mot de Passe</label
            >
            <input
              placeholder="text"
              class="border-[#AAAAAA] px-3 border outline-none focus:border-[#007BFF] h-[48px] rounded-lg w-full"
            />
          </div>

          <div class="flex flex-col w-full">
            <label for="" class="text-base block font-bold"
              >Confirmer le nouveau Mot de Passe</label
            >
            <input
              placeholder="text"
              class="border-[#AAAAAA] px-3 border outline-none focus:border-[#007BFF] h-[48px] rounded-lg w-full"
            />
          </div>
          <button
            type="submit"
            class="border w-full max-w-[350px] md:w-[350px] cursor-pointer font-bold text-sm text-white rounded border-[#AAAAAA] bg-[#007BFF] h-[48px] px-4"
          >
            Confirmer
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
