

<div>
  <div class="w-full h-[50px] bg-red-50 content-center">
    <p class="ml-[70px] font-(family-name:--chakraregular)">Accueil > Champs d’Apostolat > Santé > SIMEAS</p>
  </div>

  <div class="w-full h-max my-8 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Généralités
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center h-[202px] content-evenly">
      <p class="text-center font-(family-name:--chakraregular) w-[600px]">
        <b>Togetherness - Universality - Health</b><br />
        La Saint Pio International Medical Aid Services (SIMEAS) est une
        organisation humanitaire nouvellement créée dont la devise est
        Fraternité- Universalité-Santé. Cette initiative  vise à répondre aux
        défis d’accessibilité des couches les plus défavorisées aux soins de
        santé primaires, aux médicaments essentiels et aux équipements
        médico-sanitaires dans les zones reculées, enclavées et pauvres au cœur
        des Peuples,langues,tribus et Nations du Cosmos
      </p>
      <img
        class="h-[202px] ml-[20px]"
        src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
        alt="Logo sante"
      />
    </div>
  </div>
  <div class="w-full h-[358px] bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Historicité
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="text-justify w-[80%]">
        <p class="mb-2">
          L’organisation est née d’une analyse situationnelle : de nombreuses
          populations et Formations Sanitaires (FOSA) situées dans des zones
          d’accès difficiles au Cameroun manquent cruellement de produits de
          soins primaires, de médicaments essentiels, de matériels
          médico-sanitaires adéquats et de qualité.
        </p>

        <p>
          Ce constat a été établi suite à de multiples missions de terrain
          menées depuis 2008, culminant avec une tournée nationale dans les dix
          régions du pays entre novembre 2022 et Janvier 2023 par Saint Pio
          Blood Relief Suffering Foundation et la Fédération Camerounaise pour
          le Don Bénévole de Sang (FECADOBES).
        </p>
      </div>

      <a routerLink="{{link}}">
        <button
          class="px-4 cursor-pointer py-2 mt-4 text-white text-base rounded-lg bg-red-700"
        >
          En savoir plus
        </button>
      </a>
    </div>
  </div>

  <div class="w-full h-max my-8 py-4 content-evenly items-center">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) text-3xl text-red-700 mb-[20px]">
        Objectifs
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
        <p class="text-center w-full mb-[40px]">
       Notre objectif général est de :
    </p>
    <div
      class="grid grid-cols-1 gap-x-4 gap-y-10 place-content-center content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu=" réduire la fracture entre les grandes villes
      d’une part et les zones reculées, enclavées et 
      pauvres d’autre part, dans l’accès à la Santé et au bien-être."
      />
    </div>
    <p class="text-center w-full my-[40px]">
       Plus
      spécifiquement :
    </p>
    <div
      class="grid grid-cols-3 gap-x-4 gap-y-10 place-content-center content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu=" Renforcer les capacités logistiques  en termes d’équipements médico-sanitaires et autres, des Formations Sanitaires(FOSA) des zones reculées, enclavées et/ou pauvres ;"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Améliorer l’accès des Groupes et Communautés vulnérables aux soins de Santé "
      />
      <app-numberedcardtext
        [numero]="4"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Accompagner les dynamiques de mobilisations des ressources au sein des FOSA  des zones reculées, enclavées et pauvres "
      />
    </div>

    <div
      class="grid grid-cols-1 mt-20 place-content-center content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="5"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Renforcer la résilience des Groupes et Communautés vulnérables aux chocs, catastrophes, urgences à caractères humanitaires "
      />
    </div>
  </div>
  <div class="w-full h-max py-8 bg-red-50 content-evenly items-center">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Missions
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center w-full font-(family-name:--chakraregular) mb-[40px]">Nous avons pour missions:</p>
    <div
      class="grid grid-cols-3  mb-7 gap-4 content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Assurer l’accès à la santé dans les zones reculées, enclavées et pauvres."
      />
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Mobiliser et coordonner des spécialistes et bénévoles pour des actions humanitaires"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#F2C7CB'"
        [couleur_bgn]="'#5B0F15'"
        [couleur_bg]="'#F29B9E'"
        contenu="Promouvoir le plaidoyer et le lobbying pour l’amélioration des politiques de santé publique."
      />
    </div>
  </div>

  <div
    class="w-full h-max py-8 justify-center content-evenly items-center grid justify-items-center"
  >
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Organigramme
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center items-center w-full">
      <img
        class="md:w-full md:h-[600px] "
        src="./images/Schéma directeur simeas.jpg"
        alt="organigramme"
      />
    </div>
    
  </div>
  <div class="w-full h-max py-8  bg-red-50 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Nos perspectives
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="text-left font-(family-name:--chakraregular) w-[80%]">
        <p>
          <b>Cliniques mobiles :</b> <br />
          Organisation de cliniques mobiles équipées de matériel médical de base
          pour atteindre les villages isolés et offrir des consultations
          spécialisées gratuites & Distributions de kits de soins, et de
          médicaments essentiels,
        </p>

        <p>
          <b>Formation du personnel local  :</b> <br />
          Mise en place de programmes de formation pour le personnel de santé
          local afin d’améliorer leurs compétences et leurs capacités à gérer
          les problèmes de santé  courants.
        </p>

        <p>
          <b>Approvisionnement en médicaments :</b> renforcement du Système mise
          en place dans le cadre d’un réseau d’approvisionnement en médicaments
          essentiels pour les Formations Sanitaires  des zones reculées,
          enclavées et/ou pauvres en collaboration avec le Ministère de la Santé
          Publique à travers les Fonds Régionaux de Promotion de la Santé
          (FRPS), les laboratoires pharmaceutiques et des ONGs Internationales
          et autres Parties Prenantes en respectant le circuit SYNAME.
        </p>

        <p>
          <b>Télémédecine :</b> <br />
          Mise en place de systèmes de télémédecine permettant aux
          professionnels de  Santé des zones reculées, enclavées et /ou pauvres
          de consulter des spécialistes à distances pour des cas complexes
        </p>

        <p>
          <b>Campagnes de sensibilisation :</b> <br />
          Organisation d’ateliers éducatifs  et de campagnes de sensibilisation
          sur l’hygiène, la nutrition,la gestion des déchets et la prévention
          des maladies courantes dans les Communautés isolées en coaction avec
          les Fonds Régionaux de Promotion de la Santé (FRPS) et autres Parties
          Prenantes.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full h-max py-10 content-evenly">
    <div class="mb-[40px]">
      <h2 class="text-center font-(family-name:--arimabold) font-bold text-3xl text-red-700 mb-[20px]">
        Les Zones d’intervention
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
        <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-red-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <div class="flex w-[90%] gap-x-4">
        <app-card
          [image]="'./images/centre_sante.jpg'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'diocese'"
          [couleur]="'#A41523'"
          [name]="'Diocèse de Maroua-Mokolo'"
          [lieu]="'Founangué'"
          [ville]="'Maroua , Extreme-Nord'"
        />
        <app-card
          [image]="'./images/centre_sante.jpg'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'diocese'"
          [couleur]="'#A41523'"
          [name]="'Archidiocèse de Yaoundé'"
          [lieu]="'Poste centrale'"
          [ville]="'Yaoundé , Centre'"
        />
        <app-card
          [image]="'./images/centre_sante.jpg'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'diocese'"
          [couleur]="'#A41523'"
          [name]="'Archidiocèse de Douala'"
          [lieu]="'Bonanjo'"
          [ville]="'Douala , Littoral'"
        />
        <app-card
          [image]="'./images/centre_sante.jpg'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'diocese'"
          [couleur]="'#A41523'"
          [name]="'Diocèse de Kribi'"
          [lieu]="'Akom 2'"
          [ville]="'Kribi , Sud'"
        />

        <app-card
          [image]="'./images/centre_sante.jpg'"
          [icone]="'./images/localisation_rouge.jpg'"
          [alt_message]="'diocese'"
          [couleur]="'#A41523'"
          [name]="'Diocèse de Bafoussam'"
          [lieu]="'Evéché'"
          [ville]="'Bafoussam , Ouest'"
        />
      </div>
    </div>
  </div>
</div>
