<div class=" md:hidden md:flex my-2 md:my-0 items-center content-center w-full md:w-[550px] md:h-[270px]">
    <div class="rounded-[15px] w-[100px] h-[100px] mx-auto md:mx-0 md:w-[250px] md:h-[250px]">
        <img class="rounded-[15px] w-[100px] h-[100px] md:w-[250px] md:h-[250px]" src={{image()}} alt={{alt_message()}} />
    </div>
    <div class="overflow-y-scroll max-h-[250px] mx-auto md:mx-0 md:px-[10px] w-[250px]  mt-2 md:mt-0 font-(family-name:--chakraregular)">
        <p class="text-[18px] h-[24px] text-center md:text-left"><b>{{name()}}</b></p>
        <p class="text-gray-500 text-[14px] mb-[15px] h-[20px] text-center md:text-left">{{area()}}</p>
        <p class="text-[16px] text-justify md:h-[191px]">{{description()}}</p>
    </div>
</div>

<div class="hidden bg-yellow-200/50 py-6 mx-auto md:block my-2 md:my-0 items-center content-center md:w-[80%] md:px-4  ">
    <div class=" flex rounded-[15px] pl-6 w-[50px] h-[100px] mx-auto md:mx-0 md:w-[100%] md:h-[250px]">
        <img class="rounded-[15px] w-[100px] h-[100px] md:w-[250px] md:h-[250px]" src={{image()}} alt={{alt_message()}} />
        <div class="overflow-y-scroll max-h-[250px] mx-auto md:mx-0 md:px-[10px] w-[350px]  mt-2 md:mt-0 font-(family-name:--chakrabold)">
            <p class="text-[24px] text-center md:text-left"><b>{{name()}}</b></p>
            <p class="text-blue-500 text-[18px] mb-[7px] h-[20px] text-center md:text-left">{{area()}}</p>
            
        </div>
    </div>
    <div class="mx-auto md:mt-4 md:mx-0 md:px-[10px] font-(family-name:--chakraregular)">
        <p class="text-[16px] text-justify">{{description()}}</p>
        <div class="w-full">
            <a href="/">
                <button class=" flex items-center justify-center h-[40px] bg-transparent border-[1px] border-[#007BFF] text-[#007BFF] font-(family-name:--chrakraregular) text-[16px] rounded-[10px] px-[6px] py-[10px] mt-4 hover:bg-[#007BFF] hover:text-white transition duration-300 ease-in-out" >
                    <p>Date Publication : </p><span class="ml-2 font-bold text-[24px]"><b>{{date()}}</b></span>
                </button>
            </a>

        </div>
    </div>
</div>


