<div class="w-[275px] h-[400px] mx-[7px] ">
    <div class="flex items-center content-center rounded-[15px] w-[275px] h-[400px] relative hover:shadow-lx hover:outline-4 outline-offset-0 outline-sky-300">
        
           <img class="rounded-[15px] w-[275px] h-[400px]" src={{image()}} alt={{alt_message()}} width="250px" height="250px" />
            <p class="z-10 absolute bottom-[25px] font-bold text-[20px] w-full text-center" [style] ="coul" >
                {{title()}}
            </p>
        
        
    </div>
    
</div>
