<div
  class="relative w-[200px] md:w-[275px] h-[200px] md:h-[400px] mx-auto md:mx-[7px] my-2 md:my-0"
>
  <div
    class="hover:opacity-0 transition duration-300 ease-in-out flex items-center content-center rounded-[15px] w-[200px] md:w-[275px] h-[200px] md:h-[400px] absolute z-3 over:shadow-lx hover:outline-4 outline-offset-0 outline-sky-300"
  >
    <img
      class="rounded-[15px] w-[200px] md:w-[275px] h-[200px] md:h-[400px]"
      src="{{ image() }}"
      alt="{{ alt_message() }}"
    />
    <p
      class="z-10 absolute bottom-[25px] font-bold text-[20px] w-full text-center font-(family-name:--arimasemibold)"
      [style]="coul"
    >
      {{ title() }}
    </p>
  </div>
  <div
    class="transition duration-300 ease-in-out flex items-center content-center rounded-[15px] w-[200px] md:w-[275px] h-[200px] md:h-[400px] relative hover:shadow-lx hover:outline-4 outline-offset-0 outline-sky-300"
    [ngStyle]="bg_color"
  >
    <p
      class="absolute top-[25px] font-bold text-[20px] w-full text-center font-(family-name:--arimasemibold)"
    >
      {{ title() }}
    </p>
    <div
      class="absolute px-4 max-h-[177px] text-center font-(family-name:--chakraregular)"
    >
      <b class="font-bold text-white text-xl" *ngIf="!!hoverTitle()">{{
        hoverTitle()
      }}</b>

      <div>
        {{ hoverText() }}
      </div>
    </div>
  </div>
</div>
