<div class="w-[200px] md:w-[275px] h-[200px] md:h-[400px] mx-auto md:mx-[7px] my-2 md:my-0 ">
    <div class="flex items-center content-center rounded-[15px] w-[200px] md:w-[275px] h-[200px] md:h-[400px] relative hover:shadow-lx hover:outline-4 outline-offset-0 outline-sky-300">
        
           <img class="rounded-[15px] w-[200px] md:w-[275px] h-[200px] md:h-[400px]" src={{image()}} alt={{alt_message()}} />
            <p class="z-10 absolute bottom-[25px] font-bold text-[20px] w-full text-center font-(family-name:--arimasemibold)" [style] ="coul" >
                {{title()}}
            </p>
        
        
    </div>
    
</div>
