<div>
  <div
    class="w-full h-[50px] bg-yellow-50 content-center font-(family-name:--chakraregular)"
  >
    <p class="ml-1 md:ml-[70px]">
      Accueil > Champs d’apostolat > Spiritualité > A propos de nous >
      Réalisations phares
    </p>
  </div>

  <div class="relative w-full mb-10">
    <div class="bg-yellow-50 py-4 flex justify-center items-center">
      <h1 class="text-yellow-700 text-4xl font-bold">Réalisations phares</h1>
    </div>
  </div>

  <div class="mt-10 px-4 md:px-20">
    <h3 class="text-[#FFC107] mb-4 text-2xl font-(family-name:--chakrabold)">
      Résultats directs
    </h3>

    <div class="grid gap-y-8">
      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >1- Sur le plan communicationnel</span
        >

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="">
            Deux  Conférences de Presse organisées et directement centrées sur
            PADRE PIO (03 Mai et 23 Septembre 2010)
          </li>

          <li>La mise sur pied du Journal ‘’ La Voix de PADRE PIO’’</li>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >2- Sur le plan caritatif,</span
        >

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">
            04  visites charitables ont  été effectuées dans les sites
            suivants : l’Orphelinat de Nkoabang, la Léproserie de Ngalan
            (Mbalmayo),la Prison Principale de Mfou,Centre Béthanie Viacam
            (Nkolmesseng-Yaoundé)
          </li>

          <li>La mise sur pied du Journal ‘’ La Voix de PADRE PIO’’</li>
        </ul>
      </div>

      <div class="">
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >3- Sur le plan spirituel</span
        >

        <p>Quelques destinations des pèlerinages organisés</p>

        <b>Au Cameroun:</b>

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">
            Sanctuary Marial  Notre Dame Oasis de la Paix de Nsenglong à
            Mbalmayo (2005, 2006, 2007,2008),
          </li>

          <li>Notre Dame du Cénacle Mvolyé (aujourd’hui, Maison Nazareth)</li>

          <li>Notre Dame Marie Reine de la Paix Mvolyé</li>

          <li>Notre Dame Marie Reine de la Paix Mont Febé</li>
          <li>
            Notre Dame de Doumelong (Bafoussam)
            (2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012)
          </li>

          <li>ND de la Paix Nsimalen</li>

          <li>
            Notre Dame de la Paix, Cathédrale Saints Pierre et Paul (Douala)
          </li>

          <li>
            Monastère Notre Dame de l’Assomption  de Nkolngon (Obala)
            (2008,2009, 2010, 2011,2012-2022)
          </li>

          <li>Notre Dame du Très Saint Rosaire,(Mbalmayo)</li>

          <li>Sanctuaire du Sacré Cœur de Jésus Mvolyé et Mokolo</li>

          <li>
            Sœurs Franciscaines du Sacré Cœur d’Elat -Minkom (après Nkoabang)
          </li>
        </ul>

        <b>A l’étranger:</b>

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">Italie</li>
          <ul class="ml-10 list-disc list-outside ms-8">
            <li>Rome, Place Saint Pierre (2016)</li>

            <li>Florence (2016)</li>

            <li>San Giovanni Rotondo,( 2016)</li>

            <li>Rome, Place Saint Pierre (2017)</li>

            <li>San Giovanni Rotondo (2017)</li>

            <li>Florence (2017)</li>
          </ul>

          <li>France</li>

          <ul class="ml-10 list-disc list-outside ms-8">
            <li>Basilique du Sacré-Cœur du Montmartre (2016)</li>

            <li>
              Chapelle Notre -Dame de la Médaille Miraculeuse (Rue du
              Bac-Paris)  (2016)
            </li>

            <li>Cathédrale ND de Paris (2016)</li>
          </ul>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >4- Sur plan Spirituel et Evènementiel</span
        >

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">
            La «  Quinzaine Spirituelle Saint PADRE PIO ,2006 l’Archidiocèse de
            Yaoundé (Paroisse Christ-Roi de Tsinga)
          </li>

          <li>
            Le « Quarantenaire de la Naissance au Ciel du Serviteur de Dieu
            Saint PADRE PIO de Pietrelcina »  les Diocèses du Cameroun
            principalement (Archidiocèses et Diocèses de Yaoundé, Douala,
            Bertoua, Garoua, Bamenda, Bafoussam, Mbalmayo,Yagoua,Maroua-Mokolo
          </li>

          <li>Ebolowa,Yagoua ,Ngaoundéré,Maroua . 2008</li>

          <li>
            Le  Jubilé du «  Centenaire d’Ordination Sacerdotale du Père PIO au
            Cameroun » 2010 à Yaoundé
          </li>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >5- Sur le plan médical,</span
        >

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">
            Plus de 500 Campagnes d’information, de sensibilisation et de
            collectes  de Sang accompagnées (Yaoundé, Douala, Kumbo, Bafoussam…)
          </li>

          <li>
            Plus de 15.000 poches de Sang collectées dans la Collaboration avec
            Saint Pio Blood Relief Suffering Foundation,FECADOBES et autres
            Partenaires ;
          </li>

          <li>
            Plus de 2000 Personnel de Santé (Médecins, infirmiers…) sensibilisés
            sur la notion de la dignité humaine quant à la pratique médicale et
            transfusionnelle
          </li>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >6- Sur le plan social, et humanitaire,</span
        >

        <ul class="ml-10 list-disc list-outside ms-8">
          <li class="text-justify">
            Plusieurs vies humaines ont été  sauvées et soulagées
          </li>

          <li>
            Des millions populations informées et sensibilisés sur le Don de
            Sang et son importance,
          </li>

          <li>
            Des milliers de Fidèles des autres bords religieux (Musulmans,
            Protestants et Animistes) ont découvert et connaissent désormais
            Saint PADRE PIO ;
          </li>

          <li>
            Des milliers de Fidèles catholiques connaissent et recherchent
            dorénavant, l’intercession du Père PIO,
          </li>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >7- Sur le plan liturgique,</span
        >

        <p>
          La date du 23 Septembre jour de la Commémoration universelle  de la
          Mémoire Liturgique suivant le Sanctoral est désormais inscrite dans la
          plupart des Calendriers Liturgiques des Diocèses du Cameroun grâce à
          un  grand effort de plaidoyer et de lobbying menés par la Confrérie
          des Disciples de Saint PADRE PIO en commençant par l’Archidiocèse de
          Yaoundé (ADY) dès 2006 et partant d’autres Diocèses du Cameroun
          l’Année suivante.
        </p>

        <p>
          La multiplication et distribution en Centaines de Copies de la Messe
          Propre de Saint Padre Pio dans Plusieurs Paroisses de l’Eglise qui est
          au Cameroun entre 2005-2011.
        </p>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >8- Sur le plan pastoral,</span
        >

        <p>
          Aujourd’hui, de nombreuses Communautés Ecclésiales Vivantes (CEV) sont
          créées et ont pour nom de baptême ,le Saint éponyme fruits bénéfiques
          d’importantes actions concrètes  engagées pleinement  sur le terrain
          en vue de sa connaissance priée et des fruits de sainteté abondants
          depuis l’An de grâce 2005 ; le cas de l’Archidiocèse de Douala en est
          une parfaite illustration ( CEV Saint PADRE PIO de Makepe,Paroisse
          Saint Sacrement de Ndongbong,Paroisse Saint Dominique
          Savio,Bonapriso,Paroisse de KOTTO…
        </p>

        <p>Les Chrétiens vivent les Sacrements</p>

        <ul class="ml-10 list-disc list-outside ms-8">
          <li>
            2006, Incitation à la mise sur pied des Groupes de Prière à la
            Spiritualité de PADRE PIO dans la Région du Nord-Ouest ( Shisong
            ,Kumbo et  Bamenda…) Et la relance d’un «  Ancien Groupe » dénommé
            Saint Juliani existant à Sop dans le Bui « depuis » 2002
          </li>

          <li>
            2008 : Création du Groupe de Prière de la Paroisse Notre Dame des
            Sept Douleurs New-Bell à Douala
          </li>
        </ul>
      </div>
    </div>

    <h3 class="text-[#FFC107] my-4 text-2xl font-(family-name:--chakrabold)">
      Résultats indirects
    </h3>

    <div class="grid gap-y-8 mb-20">
      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >9- Sur le plan de la CARITAS</span
        >

        <p>
          La redynamisation globale des actions  caritatives dans les Paroisses
          de l’Eglise particulière du Cameroun et de Codas Caritas dans les
          Diocèses est la conséquence directe de l’heureuse initiative baptisée
          ‘’CAREME PIEDS NUS ‘’ dans l’optique de contribuer à la revitalisation
          du volet CARITAS au sein de l’Eglise à l’occasion du Jubilé du
          Centenaire d’Ordination de Saint PADRE PIO au Cameroun en 2010 au
          regard d’un certains nombres d’actions engagées au niveau de la
          Conférence Episcopale Nationale du Cameroun (CENC)  , des Diocèses et
          des  Paroisses.
        </p>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >10- Sur le plan Scientifique</span
        >
        <ul class="ml-10 list-disc list-outside ms-8">
          <li>
            Des centaines de Médecins et Personnel de Santé camerounais et
            d’ailleurs ont découvert PADRE PIO et ont intégré le lien entre la
            Science et la Foi ;
          </li>

          <li>
            Des Certaines de Sociétés savantes et revues scientifiques éprouvent
            désormais un intérêt particulier aux actions menées et cherchent
            davantage à comprendre  le Don de Sang et le ‘’Phénomène’’ PADRE
            PIO ;
          </li>
        </ul>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >11- Sur le plan spirituel</span
        >

        <p>
          Grand Saint de l’ère contemporaine aux faveurs spéciales et
          extraordinaires œuvre dans l’invisible à l’accompagnement sûr et
          durable du Système de Transfusion au Cameroun ;
        </p>

        <p>
          Sur le plan moral, les Disciples, Amis et /ou dévots de PADRE PIO sont
          animés par une confiance absolue en DIEU.
        </p>

        <p>
          Sur le plan psychologique, les Fidèles ont véritablement intégré que
          la Souffrance ou les difficultés ne doivent pas être un frein à leur
          vie de Foi
        </p>

        <p>
          Sur le plan institutionnel, grâce à l’accompagnement spirituel de la
          Confrérie et des actions concrètes à travers son bras séculier que
          représente Saint PIO Blood Relief Suffering Foundation,le climat du
          Don de Sang en particulier et de la Transfusion Sanguine au Cameroun
          s’améliore peu à peu en dépit de quelques lacunes latentes constatées.
        </p>
      </div>

      <div>
        <span class="text-yellow-700 text-base font-(family-name:--chakrabold)"
          >11- Sur le plan de l’Ethique</span
        >

        <p>
          La communication permanente avec les Personnels de Santé et les
          Autorités globales suivant l’esprit des prescriptions de Saint Padre
          Pio a mis un peu de tendresse quant à  l’accueil des malades et
          surtout la pratique médicale dans de nombreuses Formations Sanitaires
          du Cameroun. « Vous aussi medecins, vous avez une Mission à accomplir,
          tout comme moi. Je vous parle de devoirs à une époque où tout le monde
          parle de droits. (…) Votre Mission c’est de soigner les malades ; mais
          si vous n’apportez pas l’amour au chevet des Malades, je crains fort
          que les médicaments ne servent pas à grande chose… » Padre Pio
        </p>
      </div>
    </div>
  </div>
</div>
