<div>
    <div class="ml-4 w-full h-[50px] font-(family-name:--chakraregular) content-center">
        Accueil > Champs d'Apostolat > Santé > Perspectives
    </div>

    <div class="relative w-full mb-10">
        <div class="bg-[#F8D7DA] py-4 flex justify-center items-center">
            <h1 class="text-[#A71D2A] font-(family-name:--arimabold) text-4xl font-bold">Perspectives</h1>
        </div>
    </div>

    <div class="w-full flex flex-col font-(family-name:--chakraregular) items-center justify-center">
        <div class="w-[90%]">
            <p>Perspectives à court terme</p>
            <ul class="my-4 ml-4">
            <li>
                Créer un numéro rouge pour répondre rapidement aux sollicitations.
            </li>

            <li>
                Faciliter l’accès aux produits sanguins, voire tendre vers la gratuité
            </li>

            <li>
                Établir des accords de coopération avec les hôpitaux.
            </li>

            <li>
                Mettre en place un partenariat avec le Ministère de la Santé publique.
            </li>

            <li>
                Coopérer avec la Fédération internationale des donneurs bénévoles de sang et autres institutions.
            </li>

            <li>Organiser des activités de plaidoyer, comme le congrès sous-régional d’Afrique centrale et des Grands Lacs sur les associations de donneurs

            </li>
            </ul>
            <p>Perspectives à moyen terme</p>
            <ul class="my-4 ml-4">
                <li>
                    Lancer des projets de développement pour le bien-être des donneurs et des structures associées :
                    <ul class="ml-4">
                        <li>-École de formation professionnelle,</li>
                        <li>-Fermes,</li>
                        <li>-Formation du personnel au Cameroun et à l’étranger</li>
                    </ul>
                </li>

                <li>
                    Construire le siège de la Fondation.
                </li>

                <li>
                    Créer une structure logistique et de restauration pour les donneurs : « Saint Pio Logistics and Catering services (LoCas) ».
                </li>

                <li>
                    Mettre en place un groupe média comprenant 
                    <ul class="ml-4">
                        <li>-Un journal,</li>
                        <li>-Une radio,</li>
                        <li>-Une chaîne TV.</li>
                    </ul>
                </li>

                <li>
                    Améliorer l’organisation et la gestion interne
                </li>

            </ul>

            <p class="my-2">
                Perspectives à long terme
            </p>

            <p class="ml-4 mb-8">Étendre les zones d’intervention à travers le Cameroun et à l’international.</p>

        </div>
    </div>
</div>