<section>
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="w-full h-[50px] bg-[#F8F9FA] content-center">
      <p class="ml-[70px] font-(family-name:--chakraregular)">{{"prolegomena.sub-title" | translate }}</p>
    </div>

    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-(family-name:--arimabold)">{{ "prolegomena.title" | translate }}</h1>
    </div>
  </div>

  <div class="h-max w-full mb-20 flex items-center justify-center">
    <div class="w-[90%]">
      <p class="text-base" [innerHTML]="'prolegomena.para1' | translate">
     
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para2' | translate">
    
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para3' | translate">
      
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para4' | translate">
   
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para5' | translate">
  
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para6' | translate">
    
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para7' | translate">
      
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para8' | translate">
     
      </p>

      <p class="mt-2" [innerHTML]="'prolegomena.para9' | translate">

      </p>

      <p class="text-[#0F0F10] font-bold italic mt-2" [innerHTML]="'prolegomena.para10' | translate">
      
      </p>

    </div>
  </div>
</section>
