<section>
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="w-full h-[50px] bg-[#F8F9FA] content-center">
      <p class="ml-[70px]">Accueil > Prolégomènes</p>
    </div>

    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-bold">Prolégomènes</h1>
    </div>
  </div>

  <div class="h-max w-full mb-20 flex items-center justify-center">
    <div class="w-[90%]">
      <p class="text-base">
        <span class="ml-10">Toute œuvre</span> authentiquement chrétienne naît
        dans le silence, s’enracine dans la prière, s’éprouve dans la
        souffrance, et s’épanouit dans l’amour. L’œuvre de Saint Padre Pio au
        Cameroun ne fait pas exception. Elle est, dès l’origine, une réponse
        fidèle à l’appel à la sainteté dans le monde contemporain, un cri
        silencieux du cœur vers Dieu, un engagement incarné au service de
        l’homme, image vivante de son Créateur.  
      </p>

      <p class="mt-2">
        <span class="ml-10">À travers</span> ce site web, nous n’ambitionnons
        pas seulement d’exposer des actions, de présenter des structures ou de
        communiquer des informations. Nous cherchons, dans l’humilité et la
        lumière, à offrir un lieu de convergence spirituelle et de communion
        fraternelle, une plateforme de ressourcement, de témoignage et
        d’engagement.
      </p>

      <p class="mt-2">
        <span class="ml-10">Dans une société</span> de plus en plus fragmentée,
        désorientée par des repères mouvants, ce portail veut redire avec force
        que la foi n’est pas une abstraction, mais une vie vécue, incarnée dans
        des initiatives concrètes, inspirées par l’Évangile et la figure
        lumineuse de Saint Padre Pio de Pietrelcina — humble capucin, mystique
        stigmatisé, homme de douleur et de charité.
      </p>

      <p class="mt-2">
        <span class="ml-10">Pourquoi Padre Pio</span> ? Parce qu’il est un
        modèle radical de fidélité à Dieu dans l’épreuve, un passeur de grâce
        dans l’intercession, un serviteur de l’humanité souffrante, et un
        prophète silencieux pour notre temps. Le Cameroun, comme tant d'autres
        nations, traverse des saisons de turbulences : crises de valeurs, crises
        sanitaires, déséquilibres sociaux, désert spirituel parfois... Dans ce
        contexte, l’Œuvre de Saint Padre Pio se veut boussole et refuge, levier
        d'espérance et ferment d’unité.
      </p>

      <p class="mt-2">
        <span class="ml-10"> L’œuvre s’articule</span> autour de quatre axes
        majeurs : Spiritualité, Santé, Communication, et Environnement — chacun
        répondant à une soif réelle de notre époque. Elle ne cherche pas à
        séduire mais à servir, non à dominer mais à rassembler, non à imposer
        mais à inspirer.
      </p>

      <p class="mt-2">
        <span class="ml-10">Les structures</span> comme CODISAPIO, SIMEAS, Saint
        Pio Blood Relief Suffering Foundation, La Voix de Padre Pio Cameroun ou
        Green World for Man, loin d’être des coquilles vides, sont les membres
        vivants d’un même corps animé par une seule et même vision : faire de
        l’amour de Dieu une réalité palpable dans les âmes, les corps, les
        relations et les terres.
      </p>

      <p class="mt-2">
        <span class="ml-10">Que ces prolégomènes</span> soient donc une porte
        d’entrée intérieure pour tous ceux qui visiteront ce site : pèlerins de
        passage, chercheurs de sens, malades en quête de consolation, jeunes en
        quête de repères, bénévoles désireux de s’engager, croyants avides de
        témoignages vivants.
      </p>

      <p class="mt-2">
        <span class="ml-10">À vous tous</span>, nous disons bienvenue, non comme à de simples visiteurs,
        mais comme à des frères en chemin. Ce site est un lieu de foi vivante,
        un appel à la prière, à l’action, à la compassion. Puisse Saint Padre
        Pio vous accompagner et vous bénir à chaque page, à chaque rencontre, à
        chaque pas.
      </p>

      <p class="mt-2">
        Il sort des fonts baptismaux en Septembre 2011 avec sa première version
        écrite.
      </p>

      <p class="text-[#0F0F10] font-bold italic mt-2">
        « Prie, espère et ne t’inquiète pas. » — Saint Padre Pio
      </p>

    </div>
  </div>
</section>
