<div>
  <div
    class="w-full h-[50px] font-(family-name:--chakraregular) bg-green-50 content-center"
  >
    Accueil > Champs d'Apostolat > environnement > A propos de nous
  </div>

  <div class="w-full h-max my-8 flex flex-col items-center justify-center">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-green-700 mb-[20px]"
      >
        Génèse
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex items-center justify-between w-[80%]">
      <img
        class="h-[200px] object-cover"
        src="./images/logo-green-world.jpg"
        alt="Logo ostpiocam spiritualite"
      />
      <p class="text-left font-(family-name:--chakraregular) w-[600px]">
        <span class="flex items-center justify-center"
          ><b>Paix - Travail - Patrie</b><br
        /></span>
        Au commencement, l’idée du Concept  d’une Organisation a germé d’un
        constat très amer ; de nombreuses réticences, déceptions et difficultés
        rencontrées  lors des campagnes  de sensibilisation à la biodiversité 
        avec pour principal angle de discussion préalable la promotion d’une
        écologie humaine auprès des grandes institutions de la république, des
        entreprises, des ONGs et  des groupes médiatiques
      </p>
    </div>
  </div>
  <div class="w-full h-[358px] bg-green-50 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-green-700 mb-[20px]"
      >
        Historicité
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div
      class="flex font-(family-name:--chakraregular) items-center flex-col justify-center"
    >
      <div class="text-left w-[80%]">
        <p class="font-(family-name:--chakraregular)">
          Ces campagnes menées entre 2012 et 2014, notamment lors des
          déploiements relatifs aux activités commémoratives de la Journée
          Mondiale du Donneur de Sang (JMDS) et de la «  Foire Promote 2014 »
          par moment autour du 23 Septembre spécialement, ont révélé un profond 
          manque d’engagement sur les questions environnentales en général et 
          au Don de Sang en particulier au cœur d’une Société totalement
          déstructurée en proie à la « dictature du bruit ».
        </p>

        <p class="my-2">
          Dans un contexte très problématique, durant cette période, plus de 300
          Entreprises et autres Organisations de la Société Civile ont été
          sensibilisées aux enjeux  du Don de Sang  et de la Transfusion
          Sanguine  au Cameroun
        </p>

        <p>
          De fait, la sécurité transfusionnelle est un enjeu majeur de santé
          publique qui vise à protéger les patients et  à garantir la qualité
          des soins.
        </p>
      </div>

      <a [routerLink]="link">
        <button
          class="px-4 py-2 mt-4 text-white text-base rounded-lg bg-green-700"
        >
          En savoir plus
        </button>
      </a>
    </div>
  </div>

  <div class="w-full h-max my-8 py-4 content-evenly items-center">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-green-700 mb-[20px]"
      >
        Objectifs
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <p class="text-center font-(family-name:--chakraregular) w-full mb-[40px]">
      La confrerie des disciples de Saint Padre Pio de Pietrelcina ( CODISAPIO )
      a pour missions de :
    </p>
    <div
      class="grid grid-cols-3 gap-x-4 gap-y-10 place-content-center content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="1"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="Informer et à sensibiliser sur les effets néfastes de la pollution  (armes, gaz à effet de serre) sur la santé"
      />
      <app-numberedcardtext
        [numero]="2"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="Sensibiliser les Communautés, les Entreprises et les Collectivités  sur les enjeux de la biodiversité et de la responsabilité environnementale"
      />
      <app-numberedcardtext
        [numero]="3"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="Protéger l’environnement en commençant par l’Humain "
      />
    </div>

    <div
      class="grid grid-cols-3 mt-20 place-content-center content-center justify-items-center items-center"
    >
      <app-numberedcardtext
        [numero]="4"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="
        Encourager les Entreprises et les Collectivités  à orienter leur Responsabilité Sociale ou Sociétale d’Entreprise (RSE) vers les vrais besoins prioritaires et urgents des populations"
      />

      <app-numberedcardtext
        [numero]="5"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="Promouvoir des règles d’hygiène de vie, de nutrition et de thérapie saines "
      />

      <app-numberedcardtext
        [numero]="6"
        [couleur_n]="'#FFF'"
        [couleur_bgn]="'#0F3B1C'"
        [couleur_bg]="'#A3D9A5'"
        contenu="Promouvoir un mode vie durable, axé sur la santé environnementale et le lien avec le Créateur"
      />
    </div>
  </div>

  <div
    class="w-full h-max py-8 justify-center content-evenly items-center grid justify-items-center"
  >
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-green-700 mb-[20px]"
      >
        Bureau Directeur
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-center mb-2 items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
    </div>
    <div class="w-[95%] h-[2px] bg-green-900"></div>
    <div class="flex justify-between my-4 items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
    </div>
    <div class="w-full h-[2px] bg-green-900"></div>
    <div class="flex justify-between my-4 items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
    </div>
  </div>
  <div
    class="w-full h-max py-8 bg-green-50 content-evenly items-center grid justify-items-center"
  >
    <div class="mb-[40px]">
      <h2
        class="text-center font-bold font-(family-name:--arimabold) text-2xl text-green-700 mb-[20px]"
      >
        Membres du bureau elargi
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-around items-center w-full">
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
      <app-imgcardtext
        [image]="'./images/Fondateur2.png'"
        [alt_message]="'membre'"
        [name]="'Noel SIMO'"
        [role]="'Fondateur'"
      />
    </div>
  </div>
  <div class="w-full h-max py-8 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-bold font-(family-name:--arimabold) text-2xl text-green-700 mb-[20px]"
      >
        Nos perspectives
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="text-left font-(family-name:--chakraregular) w-[80%]">
        <div>
          <b>A court & Moyen termes</b> <br />

          <ul class="list-disc list-outside ms-8">
            <li class="pl-4 text-left w-full">
              Accompagner le plaidoyer conjoint  de Saint Pio Blood Relief
              Suffering Foundation et de la FECADOBES dans le cadre de sa
              démarche projetée d’érections des ‘’ Monuments symboliques »
              dédiés aux  « DONNEURS DE SANG » aux Centres de villes de
              certaines Communes d’Arrondissement dans les Régions du Cameroun
              en vue d’inciter d’avantages les Populations à la Culture du de
              Don de Sang Bénévole, Volontaire, Régulier et Non Rémunéré ;
            </li>
          </ul>
        </div>

        <ul
          class="list-disc mt-4 list-outside font-(family-name:--chakraregular)"
        >
          <li class="pl-4">
            Œuvrer auprès des plus Hautes Autorités du pays afin qu’elles
            Instruisent à chaque Département  Ministériel  et autres
            Institutions publiques ou privées de considérer  <br />

            et de consigner dans leurs agendas respectifs la date du14 Juin  qui
            est celle de la Célébration de la Journée Mondiale du Donneur de
            Sang (JMDS) .
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-full h-max py-10 bg-green-50 content-evenly">
    <div class="mb-[40px]">
      <h2
        class="text-center font-(family-name:--arimabold) font-bold text-2xl text-green-700 mb-[20px]"
      >
        Les diocèses
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
        <div class="bg-green-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-green-300 h-[1px] w-[50px]"></div>
      </div>
    </div>
    <div class="flex justify-around">
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_vert.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#1E7D33'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_vert.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#1E7D33'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_vert.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#1E7D33'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
      <app-card
        [image]="'./images/centre_sante.jpg'"
        [icone]="'./images/localisation_vert.jpg'"
        [alt_message]="'diocese'"
        [couleur]="'#1E7D33'"
        [name]="'Diocese de Maroua-Mokolo'"
        [lieu]="'Founangue'"
        [ville]="'Maroua , Extreme-Nord'"
      />
    </div>
  </div>
</div>
