<div>
    <div class="ml-4 w-full h-[50px] font-(family-name:--chakraregular) content-center">
        Accueil > Champs d'Apostolat > Santé > Généralités
    </div>

    <div class="relative w-full mb-10">
        <div class="bg-[#F8D7DA] py-4 flex justify-center items-center">
            <h1 class="text-[#A71D2A] font-(family-name:--arimabold) text-4xl font-bold">Généralités</h1>
        </div>
    </div>

    <div class="w-full flex flex-col font-(family-name:--chakraregular) items-center justify-center">
        <div class="w-[90%]">
            <p>Des personnes de bonne volonté,</p>
            <p class="my-2">
                Vu la loi N°90/053 du 19 Décembre 1990 portant sur la liberté d’Association réaffirmée par le préambule
                de la Constitution Camerounaise du 18 Janvier 1996 ;
            </p>

            <p class="my-2">
                Sensibles à la souffrance des patients en détresse pour le manque de sang dans nos établissements
                hospitaliers ;
                Convaincues que la mise sur pied d’une chaîne de solidarité et d’entraide peut contribuer au soulagement
                de ces malades.
                Ont décidé de servir d’interface par une Association
            </p>

            <p class="my-2">
                Le 23 Septembre 2008, quelques mandataires se sont réunis, et ce furent les premiers pas de la future
                Association Sang pour la Vie (ASV). Après plusieurs assises préparatoires et consultatives, l’ASV
                désormais appelée la Saint Pio Blood Relief Suffering Foundation (BRSF), naît officiellement le Samedi
                17 janvier 2009 lors d’une Assemblée Générale Constitutive en présence de quelques responsables des
                Banques de Sang des Formations Sanitaires de la ville de Yaoundé et des Responsables du Ministère de la
                Santé Publique
            </p>

            <p class="mt-6">La Saint Pio/BRSF est l’initiative de la Confrérie des Disciples de Saint Padre Pio de
                Piétrelcina ,ce « grain de moutarde »  qui, quelques mois auparavant s’était rendue compte du manque
                criard de produits sanguins dans les principales formations sanitaires de Yaoundé pendant la campagne de
                don bénévole de sang :</p>

            <p class="my-2">
                « Avec Saint Padre Pio, Donnons une Goutte de notre Sang pour Sauver une Vie… »,  projetée et
                concrétisée réellement en prélude et en marge de la Célébration du « Quarantenaire de la Naissance au
                Ciel du Serviteur de Dieu Saint Padre Pio ». Evénement qui avait eu lieu au Cameroun du Vendredi 02 Mai
                2008 au Mardi 23 Septembre 2008, soit 5 mois environ d’intenses activités. De ce fait, en tant que Fille
                et pur produit de la Confrérie des Disciples de Saint Padre Pio de Piétrelcina, l’Association Sang pour
                la Vie / ASV,a voulu exprimer sa gratitude, son devoir de mémoire, de reconnaissance pour une Cause ;
                rendre l’hommage mérité à son Saint Patron afin de puiser dans son esprit, l’élan, la patience, le
                courage, la force et les lumières qui lui sont nécessaires pour mener à bien la tâche, la mission qui
                lui incombe à sa suite. C’est pourquoi dans cette résonance, pour une meilleure lisibilité, en vue d’une
                meilleure visibilité,  l’ASV est désormais baptisée :
            </p>

            <p class="my-2">
                « SAINT PIO BLOOD RELIEF SUFFERING FOUNDATION »: LA  SAINT PIO BLOOD RELIEF SUFFERING FOUNDATION
                substance affinée de l’ASV, est une « Organisation » apolitique, laïque à but non lucratif. C’est
                l’Esprit qui, orientant, à chaque fois dit « Duc in Altum » « Avançons au large » Lc5,1
            </p>

            <p class="my-10">
                Sa devise est ; Compassion - Réaction – Action
            </p>

            <p class="mb-4">
                 Le terme compassion est compris dans le sens de la communion avec autrui dans sa souffrance, la
                réaction étant la réponse positive, obéissante et immédiate de tous les membres sollicités pour un cas
                quelconque à soulager par le « geste sauveur » qui est l’action pratique : le Don de Sang Volontaire Non
                Rémunéré.
            </p>

        </div>
    </div>
</div>