<div class="w-full relative mb-[60px]">
  <div class="relative top-[60px] w-full">
    <div class="flex w-full">
      <div
        class="relative w-[25%] h-[45px] hover:bg-yellow-300 justify-center items-center flex border-b-[5px] border-yellow-400"
        (mouseenter)="revealmenu()"
        (mouseleave)="hidemenu()"
      >
        <a
          class="relative"
          routerLink="/spiritualite"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Spiritualite
        </a>
        <div
          class="absolute w-full top-[45px] bg-yellow-100 justify-center items-center"
          [class.invisible]="hidden"
        >
          <a class="h-[45px] w-full" routerLink="/spiritualite/apropos">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">A propos de nous</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/spiritualite/activite">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Activites</p>
            </div>
          </a>
          <a class="h-[45px] w-full" href="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">connaissance de l'eglise</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/spiritualite/galerie">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Galerie photos</p>
            </div>
          </a>
        </div>
      </div>
      <div
        class="relative w-[25%] h-[45px] hover:bg-red-300 justify-center items-center flex border-b-[5px] border-red-400"
        (mouseenter)="revealmenu2()"
        (mouseleave)="hidemenu2()"
      >
        <a
          class="relative"
          routerLink="/sante"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Sante
        </a>
        <div
          class="absolute w-full top-[45px] bg-red-100 justify-center items-center"
          [class.invisible]="hidden2"
        >
          <a class="h-[45px] w-full" routerLink="/sante/apropos">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">A propos de nous</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/sante/activite">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Activites</p>
            </div>
          </a>
          <a class="h-[45px] w-full" href="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">connaissance de l'eglise</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/sante/galerie">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Galerie photos</p>
            </div>
          </a>
        </div>
      </div>
      <div
        class="relative w-[25%] h-[45px] hover:bg-blue-300 justify-center items-center flex border-b-[5px] border-blue-400"
        (mouseenter)="revealmenu3()"
        (mouseleave)="hidemenu3()"
      >
        <a class="relative" routerLink="/communication"> communication </a>
        <div
          class="absolute w-full top-[45px] bg-blue-100 justify-center items-center"
          [class.invisible]="hidden3"
        >
          <a class="h-[45px] w-full" routerLink="/communication/apropos">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">A propos de nous</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/communication/activite">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Activites</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">connaissance de l'eglise</p>
            </div>
          </a>
          <a class="h-[45px] w-full" href="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Galerie photos</p>
            </div>
          </a>
        </div>
      </div>
      <div
        class="relative w-[25%] h-[45px] hover:bg-green-300 justify-center items-center flex border-b-[5px] border-green-400"
        (mouseenter)="revealmenu4()"
        (mouseleave)="hidemenu4()"
      >
        <a class="relative" routerLink="/environnement"> Environnement </a>
        <div
          class="absolute w-full top-[45px] bg-green-100 justify-center items-center"
          [class.invisible]="hidden4"
        >
          <a class="h-[45px] w-full" routerLink="/environnement/apropos">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">A propos de nous</p>
            </div>
          </a>
          <a class="h-[45px] w-full" routerLink="/environnement/activite">
            <div
              class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Activites</p>
            </div>
          </a>
          <a class="h-[45px] w-full" href="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">connaissance de l'eglise</p>
            </div>
          </a>
          <a class="h-[45px] w-full" href="#">
            <div
              class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center"
            >
              <b>&#10095;</b>
              <p class="w-full pl-[15px]">Galerie photos</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full h-[50px] bg-yellow-50 content-center">
      <p class="ml-[70px]">
        Accueil > Champs d'apostolat > spiritualite > A propos de nous
      </p>
    </div>
    <div class="w-full h-max mt-20 content-evenly">
      <div class="mb-[40px]">
        <h2 class="text-center font-bold text-2xl text-yellow-700 mb-[20px]">
          A propos de nous
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>

      <div class="flex flex-col w-full items-center justify-center">
        <div class="px-2 w-full md:w-[80%] grid grid-cols-1  gap-x-20 md:grid-cols-2">
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus.
            Ultrices magna euismod est lobortis tempus. Id arcu porttitor
            volutpat lectus viverra elit quisque. In egestas ut pellentesque
            mattis sollicitudin feugiat adipiscing venenatis egestas. Sed
            dignissim ac nulla dignissim vestibulum. Ut non id et pellentesque
            quam nibh nec natoque. Lobortis vestibulum viverra et sed turpis
            varius id phasellus vitae. Est gravida nulla id fringilla. Ac
            curabitur in congue neque at amet risus nulla. Ac nulla vestibulum
            laoreet sed. Et enim tortor.Lorem ipsum dolor sit amet consectetur.
            Neque montes enim et lacus. Ultrices magna euismod est lobortis
            tempus. Id arcu porttitor volutpat lectus viverra elit quisque. In
            egestas ut pellentesque mattis sollicitudin feugiat adipiscing
            venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut
            non id et pellentesque quam nibh nec natoque. Lobortis vestibulum
            viverra et sed turpis varius id phasellus vitae. Est gravida nulla
            id fringilla. Ac curabitur in congue neque at amet risus nulla. Ac
            nulla vestibulum laoreet sed. Et enim tortor.
          </p>
          <div class="w-full mt-4 md:mt-0">
            <div class="flex items-center flex-wrap">
              <img
                class="w-full h-[187px] md:w-[187px] md:ml-[20px]"
                src="./images/centre_sante.jpg"
                alt="Logo ostpiocam spiritualite"
              />

              <img
                class="w-full h-[187px] md:w-[187px] md:ml-[20px]"
                src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
                alt="Logo ostpiocam spiritualite"
              />
            </div>

            <div class="flex items-center flex-wrap">
              <img
                class="w-full h-[187px] md:w-[187px] md:ml-[20px]"
                src="./images/centre_sante.jpg"
                alt="Logo ostpiocam spiritualite"
              />
              <img
                class="w-full h-[187px] md:w-[187px] md:ml-[20px]"
                src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png"
                alt="Logo ostpiocam spiritualite"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-max content-evenly mt-[50px] pb-[50px]">
      <div class="mb-[40px]">
        <h2 class="text-center font-bold text-2xl text-yellow-700 mb-[20px]">
          Nos partenaires
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-500 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-800 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-500 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <div class="flex items-center justify-center w-full flex-wrap gap-2">
        <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png" alt="bgfi"/>
        <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo Saint Pio Blood Relief Suffering Foundation Origin-01.jpg" alt="crtv"/>
        <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png" alt="huawei"/>
        <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo La voie de Padre Pio Origin-01.png" alt="sabc"/>
        <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo Green World for Man Origin-01.jpg" alt="cisco"/>
        
      </div>
    </div>
  </div>
</div>
