<div>
  <div
    class="w-full h-[50px] font-(family-name:--chakraregular) content-center"
  >
    {{"field-apostolate.health.prospect-page.sub-title" |translate}}
  </div>

  <div class="relative w-full mb-10">
    <div class="bg-[#F8D7DA] py-4 flex justify-center items-center">
      <h1
        class="text-[#A71D2A] font-(family-name:--arimabold) text-4xl font-bold"
      >
        {{"field-apostolate.health.prospect-page.title" |translate}}
      </h1>
    </div>
  </div>

  <div
    class="w-full flex flex-col font-(family-name:--chakraregular) items-center justify-center"
  >
    <div class="w-[90%]">
      <p> {{"field-apostolate.health.prospect-page.short-term" |translate}} </p>

      <ul
        class="list-disc font-(family-name:--chakraregular) list-outside ms-8"
      >
        <li *ngFor="let item of longPerspectives$ |async  trackBy: trackByPath">
          {{ item }}
        </li>
      </ul>
      <div [innerHTML]="'field-apostolate.health.prospect-page.page'|translate" >

      </div>

     
    </div>
  </div>
</div>

