<div class="w-full relative mb-[120px]">
    <div class="relative top-[60px] w-full">
        <div class="w-full h-[50px] bg-red-50 content-center">
            <p class="ml-[70px]">
                Accueil > Actualités  
            </p>
        </div>
        <div class="w-full content-evenly mt-[40px]">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Actualités
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
                <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="justify-center content-center grid grid-cols-2 gap-4  justify-items-center items-center ">
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur1'" [name]="'Albert CAMUS'" [role]="'Fondateur'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur2'" [name]="'Frank ONANA'" [role]="'Coordonateur general'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur1'" [name]="'Albert CAMUS'" [role]="'Fondateur'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur2'" [name]="'Frank ONANA'" [role]="'Coordonateur general'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur1'" [name]="'Albert CAMUS'" [role]="'Fondateur'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur2'" [name]="'Frank ONANA'" [role]="'Coordonateur general'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur1'" [name]="'Albert CAMUS'" [role]="'Fondateur'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
              <app-cardtext [image]="'images/Fondateur2.png'" [alt_message] = "'Fondateur2'" [name]="'Frank ONANA'" [role]="'Coordonateur general'" [description]="'Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur.'" ></app-cardtext>
            </div>
        </div>
    </div>
</div>
