<div class="h-full w-full">
  <div
    class="relative h-max min-h-[250px] max-w-[400px] rounded-[15px] items-center content-center"
    [style]="couleur_texte"
  >
    <div
      class="w-full absolute top-2 mx-auto content-center justify-center items-center flex"
    >
      <p
        class="w-[450px] h-[65px] font-(family-name:--chakrabold) rounded-[15px] justify-center text-center font-bold text-[25px] content-center"
        [style]="couleur_numero"
        [style]="couleur_bg_numero"
      >
        {{ titre() }}
      </p>
    </div>
    <p
      class="h-max mt-7 text-[16px] py-2 text-justify top-23 mx-auto px-[20px] font-(family-name:--chakraregular)"
    >
      {{ contenu() }}
    </p>
  </div>
</div>
