<div>
  <div
    class="w-full h-[50px] bg-yellow-50 content-center font-(family-name:--chakraregular)"
  >
    <p class="ml-1 md:ml-[70px]">
      {{ "field-apostolate.spirituality.header-text" | translate }}
    </p>
  </div>

  <div class="w-full h-max mt-5 content-evenly">
    <div class="md:mb-[40px]">
      <h2
        class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
      >
        {{ "field-apostolate.spirituality.presentation.title" | translate }}
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <div
        class="grid grid-cols-1 lg:w-[95%] gap-x-6 md:grid-cols-2 place-content-center"
      >
        <img
          class="h-[202px] w-full"
          src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png"
          alt="Logo ostpiocam spiritualite"
        />
        <p
          class="text-left px-4 font-(family-name:--chakraregular)"
          [innerHTML]="
            'field-apostolate.spirituality.presentation.des' | translate
          "
        ></p>
      </div>
    </div>

    <div class="w-full h-max mt-5 py-8 bg-yellow-50 content-evenly">
      <div class="mb-5">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          {{ "field-apostolate.spirituality.history" | translate }}
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          class="flex flex-col w-[90%] md:w-[80%]"
          [innerHTML]="'field-apostolate.spirituality.history-text' | translate"
        ></div>
      </div>
    </div>

    <div class="w-full h-max px-2 py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          {{ "field-apostolate.spirituality.mission" | translate }}
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>

      <div class="w-full px-4 mb-[40px] flex items-center justify-center">
        <p
          class="text-left w-[90%] md:w-[80%] font-(family-name:--chakraregular)"
        >
          {{ "field-apostolate.spirituality.mission-text" | translate }}
        </p>
      </div>
    </div>

    <div class="w-full h-max bg-yellow-50 py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          {{ "field-apostolate.spirituality.objectives.title" | translate }}
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <p
        class="text-center w-full mb-[40px] px-2 font-(family-name:--chakraregular)"
        [innerHTML]="
          'field-apostolate.spirituality.objectives.sub-title' | translate
        "
      ></p>

      <div class="w-full flex px-2 py-8 justify-center items-center">
        <div class="lg:w-[70%] h-max mx-auto">
          <div
            class="grid grid-cols-1 justify-items-center place-content-center md:grid-cols-2 h-max gap-x-4 gap-y-14 lg:gap-y-14"
          >
            <app-numberedcardtext
              [numero]="1"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                'field-apostolate.spirituality.objectives.one' | translate
              "
            />
            <app-numberedcardtext
              [numero]="2"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                'field-apostolate.spirituality.objectives.two' | translate
              "
            />
            <app-numberedcardtext
              [numero]="3"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                'field-apostolate.spirituality.objectives.three' | translate
              "
            />
            <app-numberedcardtext
              [numero]="4"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                'field-apostolate.spirituality.objectives.four' | translate
              "
            />
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-max py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          {{ "field-apostolate.spirituality.action-front.title" | translate }}
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <p
        class="text-center w-full mb-[40px] px-2 font-(family-name:--chakraregular)"
        [innerHTML]="
          'field-apostolate.spirituality.action-front.sub-title' | translate
        "
      ></p>

      <div class="w-full flex px-2 py-8 justify-center items-center">
        <div class="lg:w-[70%]">
          <div
            class="grid grid-cols-1 place-content-center md:grid-cols-2 h-max gap-x-4 gap-y-14 lg:gap-y-14"
          >
            <app-section-card
              [title]="
                'field-apostolate.spirituality.action-front.spiritual'
                  | translate
              "
            >
              <app-item-section
                [items]="
                  'field-apostolate.spirituality.action-front.spirituelItems'
                    | translate
                "
              ></app-item-section>
            </app-section-card>

            <app-section-card
              [title]="
                'field-apostolate.spirituality.action-front.humanity'
                  | translate
              "
            >
              <app-item-section
                [items]="
                  'field-apostolate.spirituality.action-front.humanItems'
                    | translate
                "
              ></app-item-section>
            </app-section-card>

            <app-section-card
              [title]="
                'field-apostolate.spirituality.action-front.sportif' | translate
              "
            >
              <app-item-section
                [items]="
                  'field-apostolate.spirituality.action-front.sports'
                    | translate
                "
              ></app-item-section>
            </app-section-card>

            <app-section-card
              [title]="
                'field-apostolate.spirituality.action-front.culture' | translate
              "
            >
              <app-item-section
                [items]="
                  'field-apostolate.spirituality.action-front.cultural'
                    | translate
                "
              ></app-item-section>
            </app-section-card>
          </div>
        </div>
      </div>

      <div class="w-full h-max py-8 bg-yellow-50 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "field-apostolate.spirituality.the-dioceses.title" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>

        <div class="w-full flex justify-center items-center">
          <div
            class="grid grid-col-1 md:grid-cols-2 gap-x-4 w-full lg:w-[90%] px-2 lg:place-content-center lg:grid-cols-5"
          >
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="
                'field-apostolate.spirituality.the-dioceses.yaounde' | translate
              "
              [lieu]="''"
              [ville]="'Yaoundé , Centre'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="
                'field-apostolate.spirituality.the-dioceses.douala' | translate
              "
              [lieu]="''"
              [ville]="'Douala , Littoral'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="
                'field-apostolate.spirituality.the-dioceses.garoua' | translate
              "
              [lieu]="''"
              [ville]="'Garoua , Nord'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="
                'field-apostolate.spirituality.the-dioceses.maroua' | translate
              "
              [lieu]="''"
              [ville]="'Maroua , Extreme-Nord'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="
                'field-apostolate.spirituality.the-dioceses.obala' | translate
              "
              [lieu]="''"
              [ville]="'Obala , Centre'"
            />
          </div>
        </div>
      </div>
      <div
        class="w-full h-max justify-center py-8 content-evenly items-center grid justify-items-center"
      >
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "field-apostolate.spirituality.master-plan.title" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>

        <app-organigramme></app-organigramme>
      </div>

      <div class="w-full h-max my-10 py-8 bg-yellow-50 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "field-apostolate.spirituality.realization.title" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex md:justify-center">
          <p
            class="text-left px-2 lg:w-[80%] mb-10 font-(family-name:--chakraregular)"
          >
            {{ "field-apostolate.spirituality.realization.text" | translate }}
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a routerLink="{{ realizationPath }}"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-yellow-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              {{ "read-more" | translate }}
            </button></a
          >
        </div>
      </div>
      <div class="w-full h-max py-8 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            {{ "field-apostolate.spirituality.prospects.title" | translate }}
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center" 
        [innerHTML]="'field-apostolate.spirituality.prospects.text' | translate">
         
        </div>
      </div>
    </div>
  </div>
</div>
