<div >
  <div
    class="w-full h-[50px] bg-yellow-50 content-center font-(family-name:--chakraregular)"
  >
    <p class="ml-[70px]">
      Accueil > Champs d’Apostolat > Spiritualité > A propos de nous
    </p>
  </div>

  <div class="w-full h-max mt-5 content-evenly">
    <div class="md:mb-[40px]">
      <h2
        class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
      >
        Présentation
      </h2>
      <div class="flex justify-center items-center w-full h-[5px]">
        <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
        <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
      </div>
    </div>

    <div class="w-full flex items-center justify-center">
      <div
        class="grid grid-cols-1 lg:w-[95%] gap-x-6 md:grid-cols-2 place-content-center"
      >
        <img
          class="h-[202px] w-full"
          src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png"
          alt="Logo ostpiocam spiritualite"
        />
        <p class="text-center font-(family-name:--chakraregular)">
          <b class="text-[20px] font-(family-name:--chakrabold)"
            >Prière - Pénitence - Charité</b
          ><br />
          <b
            >La CODISAPIO (Confrérie des Disciples de Saint Padre Pio de
            Pietrelcina) </b
          >est le noyau fondateur de l’Œuvre de Saint Padre Pio au Cameroun. Née
          en 2005, elle rassemble des fidèles animés par la spiritualité de
          Saint Pio, engagés dans la prière, le service, l’évangélisation et la
          charité. Elle porte l’élan initial qui a donné naissance à un vaste
          écosystème apostolique, enraciné dans la foi, l’amour du prochain et
          la mission chrétienne
        </p>
      </div>
    </div>

    <div class="w-full h-max mt-5 py-8 bg-yellow-50 content-evenly">
      <div class="mb-5">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          Historicité
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <div class="flex justify-center">
        <p
          class="text-justify w-[80%] md:px-20 font-(family-name:--chakraregular)"
        >
                     La Confrérie des Disciples de Saint PADRE PIO de
          Pietrelcina est une Association privée de l’Eglise  qui tire sa source
          d’un ensemble de fidèles chrétiens catholiques (laïcs, prêtres,
          religieux…) d’horizons divers et fervents admirateurs et dévots qui
          ont dédié leur existence au service de JESUS –CHRIST, de l’Eglise et
          des Hommes, sur les traces de Saint PADRE PIO.<br />
                      Elle existe conformément aux Textes Conciliaires de
          Vatican II sur la nouvelle évangélisation. Elle est la suite logique
          de l’appel sans cesse renouvelé du Père PIO.<br />
                      La première assise officielle a eu lieu le 25 Août 2005 à
          la suite d’une table ronde à la Paroisse Siège CHRIST-ROI de Tsinga,
          Yaoundé-Cameroun en présence du curé de la place, Vicaire Episcopal
          d’alors du Pôle, ancien Vicaire Général de l’Archidiocèse de Yaoundé,
          Mgr l’Abbé MBALA –KYE Achille.<br />
                      Elle est initiée et animée par les Laïcs, avec
          l’encadrement spirituel des Prêtres locaux. C’est une Œuvre de
          l’Eglise pour l’Eglise et avec l’Eglise, dans l’esprit de la
          Révélation.  <br />
                      Dans la visibilité réelle, la Confrérie des Disciples de
          Saint PADRE PIO de Pietrelcina, est une véritable chaîne de solidarité
          chrétienne. Elle est la résultante spécifique d’une histoire  d’amour
          avec le Père PIO.  C’est aussi le fruit de l’aboutissement d’une
          grande soif, d’une large réflexion, d’une œuvre mûre restituée et
          nourrie en réaction aux messages issus des trois lettres du Vénérable
          aujourd’hui Saint Jean Paul II à savoir :<br />
             <b>
            <li>Lettre apostolique « Rosarium Virginis Marie»,</li>
          </b>
          sur le Rosaire de la Vierge Marie ou l’année du Rosaire, Octobre
          2002.<br />
             <b>
            <li>Lettre Encyclique « Ecclesia de Eucharistia»,</li>
          </b>
          l’Eglise vit de l’Eucharistie, sur l’Eucharistie dans son rapport avec
          l’Eglise, Avril 2003.<br />
             <b> <li>Lettre apostolique « Mane Nobiscum Domine »</li> </b>,
          Reste avec nous Seigneur pour l’Année de l’Eucharistie, Octobre
          2004<br />
        </p>
      </div>
      <div class="flex justify-center items-center w-full mt-[20px] py-[20px]">
        <a href="/"
          ><button
            class="w-[125px] h-[40px] rounded-lg text-white bg-yellow-900 cursor-pointer font-(family-name:--chakraregular)"
          >
            En savoir plus
          </button></a
        >
      </div>
    </div>

    <div class="w-full h-max px-2 py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          Missions
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <p
        class="text-center w-[80%] mx-auto px-2 mb-[40px] font-(family-name:--chakraregular)"
      >
        Elle a pour mission essentielle l’activité spirituelle et caritative en
        vue d’une démarche de sanctification personnelle et collective. Au-delà
        de sa participation à la vie spirituelle, matérielle et financière
        vis-à-vis de l’Eglise par une vie de présence, illustrée dans Mt
        25,31-41, elle apporte aussi son assistance aux marginalisés et/ou
        pauvres (orphelinats, prisons, centre d’accueil, Hôpitaux…).
      </p>
    </div>

    <div class="w-full h-max bg-yellow-50 py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          Objectifs
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <p
        class="text-center w-full mb-[40px] px-2 font-(family-name:--chakraregular)"
      >
        La confrerie des disciples de Saint Padre Pio de Pietrelcina
        <b>( CODISAPIO )</b> a pour objectifs:
      </p>

      <div class="w-full flex px-2 py-8 justify-center items-center">
        <div class="lg:w-[70%] h-max mx-auto">
          <div
            class="grid grid-cols-1 justify-items-center place-content-center md:grid-cols-2 h-max gap-x-4 gap-y-14 lg:gap-y-14"
          >
            <app-numberedcardtext
              [numero]="1"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                '	Faire découvrir le visage spirituel  de Saint PADRE PIO à nos Communautés Chrétiennes et  Humaines, par le biais de la Prière, la Pénitence et la Charité dans une attitude réparatrice et contemplative en vue de sa connaissance priée . '
              "
            />
            <app-numberedcardtext
              [numero]="2"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                ' Amener les Fidèles Catholiques en particulier et les âmes de bonne volonté à incarner dans leurs habitudes et attitudes la Vision de la doctrine spirituelle du Père Pio portée vers les vertus théologales à savoir ( Foi,Espérance,Charité) .'
              "
            />
            <app-numberedcardtext
              [numero]="3"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                '	Respecter et promouvoir la vie des Sacrements par une charité basée sur l’Evangile et nos Frères, les humains par un soutien multiforme : spirituel, moral, matériel/financier dans la mesure du possible .'
              "
            />
            <app-numberedcardtext
              [numero]="4"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              [contenu]="
                '	Respecter et promouvoir la vie des Sacrements par une charité basée sur l’Evangile et nos Frères, les humains par un soutien multiforme : spirituel, moral, matériel/financier dans la mesure du possible .'
              "
            />
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-max py-8 content-evenly items-center">
      <div class="mb-[40px]">
        <h2
          class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
        >
          Fronts d'actions
        </h2>
        <div class="flex justify-center items-center w-full h-[5px]">
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
          <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
        </div>
      </div>
      <p
        class="text-center w-full mb-[40px] px-2 font-(family-name:--chakraregular)"
      >
        Les fronts d’action de la confrerie des disciples de Saint Padre Pio de
        Pietrelcina
        <b>( CODISAPIO )</b> sont les suivants :
      </p>

      <div class="w-full flex px-2 py-8 justify-center items-center">
        <div class="lg:w-[70%]">
          <div
            class="grid grid-cols-1 place-content-center md:grid-cols-2 h-max gap-x-4 gap-y-14 lg:gap-y-14"
          >
            <app-titlecardtext
              [titre]="'Spirituel'"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              contenu="
            '	&#8226; Organisation des Conférences-Débats dont les thématiques ont pour problématique la Foi
            &#8226; Organisation des Célébrations Eucharistiques                     
            &#8226; Organisation des séances quotidiennes de prières             
            &#8226; Promotion et défense de la Cause à travers des Echanges et communications permanents sur la Vie et l’œuvre de l’Illustre Homme'"
            />

            <app-titlecardtext
              [titre]="'Humanitaire et caritatif'"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              contenu="
              ' &#8226; Accompagnement des Campagnes de Don Bénévole et Volontaire de Sang sur le terrain
              &#8226; Aides diverses aux Vulnérabilités'
            "
            />

            <app-titlecardtext
              [titre]="'Sportif'"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              contenu="
              '	&#8226; Organisation des Kermesses et jeux divers            
              &#8226; Initiation des rencontres sportives entre Jeunes et les Chrétiens de tous les bords'
            "
            />

            <app-titlecardtext
              [titre]="'Culturel'"
              [couleur_n]="'#faf089'"
              [couleur_bgn]="'#744210'"
              [couleur_bg]="'#FCE589'"
              contenu="
              '	&#8226; Projections des films documentaires sur les Saints, sans oublier la Vie et l’Œuvre de Saint PADRE PIO,       
              &#8226; Tests d’intelligence sur la Parole de DIEU, les Saints, la Vie et l’œuvre de Saint PADRE PIO'
            "
            />
          </div>
        </div>
      </div>

      <div class="w-full h-max py-8 bg-yellow-50 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Les diocèses
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>

        <div class="w-full flex justify-center items-center">
          <div
            class="grid grid-col-1 md:grid-cols-2 gap-6 w-full lg:w-[80%] px-2 lg:place-content-center lg:grid-cols-4"
          >
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="'Diocese de Maroua-Mokolo'"
              [lieu]="'Founangue'"
              [ville]="'Maroua , Extreme-Nord'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="'Diocese de Maroua-Mokolo'"
              [lieu]="'Founangue'"
              [ville]="'Maroua , Extreme-Nord'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="'Diocese de Maroua-Mokolo'"
              [lieu]="'Founangue'"
              [ville]="'Maroua , Extreme-Nord'"
            />
            <app-card
              [image]="'./images/diocese.jpg'"
              [icone]="'./images/icone_localisation.jpg'"
              [alt_message]="'diocese'"
              [couleur]="'#C48C00'"
              [name]="'Diocese de Maroua-Mokolo'"
              [lieu]="'Founangue'"
              [ville]="'Maroua , Extreme-Nord'"
            />
          </div>
        </div>
      </div>
      <div
        class="w-full h-max justify-center py-8 content-evenly items-center grid justify-items-center"
      >
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Organigramme
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex justify-center items-center w-full">
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
        </div>
        <div class="w-full h-[2px] bg-yellow-900"></div>
        <div class="flex justify-center my-4 items-center w-full">
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
        </div>
        <div class="w-full h-[2px] my-4 bg-yellow-900"></div>
        <div class="flex justify-center items-center w-full">
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
          <app-imgcardtext
            [image]="'./images/Fondateur1.png'"
            [alt_message]="'membre'"
            [name]="'Albert CAMUS'"
            [role]="'Directeur general'"
          />
        </div>
      </div>
      <div
        class="w-full h-max bg-yellow-50 px-2 content-evenly py-8 items-center grid justify-items-center"
      >
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Membres du bureau elargi
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>

        <div class="w-full flex justify-center items-center">
          <div
            class="grid grid-cols-1 lg:grid-cols-5 md:grid-cols-4 lg:w-[80%] gap-6 w-full"
          >
            <app-imgcardtext
              [image]="'./images/Fondateur2.png'"
              [alt_message]="'membre'"
              [name]="'Albert CAMUS'"
              [role]="'Directeur general'"
              class=""
            />
            <app-imgcardtext
              [image]="'./images/Fondateur2.png'"
              [alt_message]="'membre'"
              [name]="'Albert CAMUS'"
              [role]="'Directeur general'"
            />
            <app-imgcardtext
              [image]="'./images/Fondateur2.png'"
              [alt_message]="'membre'"
              [name]="'Albert CAMUS'"
              [role]="'Directeur general'"
            />
            <app-imgcardtext
              [image]="'./images/Fondateur2.png'"
              [alt_message]="'membre'"
              [name]="'Albert CAMUS'"
              [role]="'Directeur general'"
            />
            <app-imgcardtext
              [image]="'./images/Fondateur2.png'"
              [alt_message]="'membre'"
              [name]="'Albert CAMUS'"
              [role]="'Directeur general'"
            />
          </div>
        </div>
      </div>
      <div class="w-full h-max my-10 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Realisations & Resultats
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex md:justify-center">
          <p
            class="text-left md:text-center px-2 lg:w-[80%] mb-10 font-(family-name:--chakraregular)"
          >
            Depuis sa création en 2005, la Confrérie des Disciples de Saint
            Padre Pio (CODISAPIO) a marqué l'Église du Cameroun par une action
            spirituelle, sociale et humanitaire intense. Elle a organisé des
            conférences de presse, publié un journal, réalisé des pèlerinages au
            Cameroun, en Italie et en France, et soutenu les plus vulnérables à
            travers des visites caritatives et la promotion du don de sang (plus
            de 15 000 poches collectées). Son action a également renforcé la
            pratique liturgique autour de Padre Pio, aboutissant à l’inscription
            de sa mémoire liturgique dans plusieurs diocèses. CODISAPIO a
            favorisé la création de Groupes de Prière, le développement des CEV
            à son nom, et sensibilisé personnel médical, fidèles catholiques et
            non-catholiques à l’éthique, à la dignité humaine et au lien entre
            foi et science. Sa contribution dépasse le domaine religieux,
            influençant la société camerounaise sur les plans moral,
            psychologique, institutionnel et scientifique. Grâce à son bras
            séculier, la Saint Pio Blood Relief Suffering Foundation, la
            Confrérie continue d’inspirer des actions concrètes dans un esprit
            de prière, pénitence et charité, selon l’exemple de son saint
            patron.
          </p>
        </div>
        <div
          class="flex justify-center items-center w-full mt-[20px] py-[20px]"
        >
          <a href="/"
            ><button
              class="w-[125px] h-[40px] rounded-lg text-white bg-yellow-900 cursor-pointer font-(family-name:--chakraregular)"
            >
              En savoir plus
            </button></a
          >
        </div>
      </div>
      <div class="w-full h-max bg-yellow-50 py-8 content-evenly">
        <div class="mb-[40px]">
          <h2
            class="text-center font-bold text-2xl text-yellow-700 mb-[20px] font-(family-name:--arimabold)"
          >
            Nos perspectives
          </h2>
          <div class="flex justify-center items-center w-full h-[5px]">
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
            <div class="bg-yellow-700 h-[5px] w-[50px] rounded-full"></div>
            <div class="bg-yellow-300 h-[1px] w-[50px]"></div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center">
          <p
            class="text-left md:text-center lg:w-[80%] px-2 font-(family-name:--chakraregular)"
          >
                        Dans le cadre de son développement missionnaire et de sa
            fidélité à la vision spirituelle de Saint Padre Pio, la CODISAPIO
            projette de renforcer son action à travers plusieurs initiatives. À
            court terme, l’objectif est de mettre en œuvre des micro-projets
            pastoraux et agricoles destinés à soutenir l’Église locale, les
            activités de la Confrérie, ses membres ainsi que les personnes
            vulnérables. À moyen terme, les ambitions s’élargissent avec la
            création du Grand Chœur Saint Padre Pio, une chorale porteuse de foi
            et d’unité, ainsi que le lancement du Saint Pio Catering Service and
            Logistic, destiné à soutenir les événements communautaires. S’ajoute
            également le projet Saint Pio Scholarship Academy for
            Vulnerabilities, en faveur de la formation et de l’accompagnement
            des plus fragiles. Enfin, deux événements majeurs sont envisagés :
            un Congrès National des Dévots et Amis de Padre Pio, ainsi qu’un
            Congrès International des Groupes de Prières de Saint Padre Pio
            d’Afrique, à organiser au Cameroun, pour favoriser la communion des
            fidèles et renforcer les liens spirituels à l’échelle continentale.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
