<section class="w-full relative">
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-bold">Devenir partenaire</h1>
    </div>
  </div>

  <div class="h-full flex justify-center my-10 items-center flex-col">
    <form action="" class="flex flex-col items-center gap-y-4 w-[50%] px-2">
      <input-form label="Nom/ Nom de l’organisation" class="w-[100%]" />

      <input-form label="Personne de contact" class="w-[100%]" />

      <input-form label="Fonction" class="w-[100%]" />

      <input-form label="Numero de téléphone" class="w-[100%]" />

      <input-form label="Adresse email" type="email" class="w-[100%]" />
     

      <div class="w-full text-base font-medium">
        <p class="my-4 text-base">
          Type de partenariats souhaités 
        </p>

        <div class="flex w-full justify-between items-center">
          <div class="flex items-center gap-x-2" *ngFor="let partnersType of partnersTypes">
            <div class="w-fit">
              <input type="checkbox" class="w-5 h-5" />
            </div>
            <label class="block" for="choice"> {{ partnersType }} </label>
          </div>
        </div>
      </div>
      <div class="flex items-start gap-x-4 w-full">
        <p class="w-[400px] font-medium text-base">
          Message ou proposition de partenariat 
        </p>

        <div class="w-full">
          <textarea
            class="border w-full border-[#AAAAAA] px-2 h-[200px] text-sm focus:border-2 py-2 placeholder:text-xs placeholder:text-[#AAAAAA] focus:outline-none rounded-lg resize-none"
            name=""
            id=""
            placeholder="Entrer du texte text"
          >
          </textarea>
        </div>
      </div>

      <div class="w-full flex flex-col items-start">
        <p class="text-base font-medium">
          Souhaitez-vous être recontacté pour un échange? ?
        </p>

        <div class="flex gap-x-10 mt-4 items-center">
          <div class="flex items-center gap-x-2">
            <input id="choice" value="choice" type="radio" class="w-5 h-5" />
            <label class="text-sm font-medium" for="">Non</label>
          </div>

          <div class="flex items-center gap-x-2">
            <input id="choice" value="choice" type="radio" class="w-5 h-5" />
            <label class="text-sm font-medium" for="">Oui</label>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="py-3 bg-[#007BFF] mt-5 w-[350px] cursor-pointer text-white rounded-lg text-base font-medium border-none"
      >
        Valider
      </button>
    </form>
  </div>
</section>
