<section class="w-full relative">
  <div class="relative top-[60px] h-full mb-[100px] w-full">
    <div class="bg-[#EBF4FB] py-4 flex justify-center items-center">
      <h1 class="text-[#0056B3] text-4xl font-bold">Devenir partenaire</h1>
    </div>
  </div>

  <div class="h-full flex justify-center my-10 items-center flex-col">
    <form action="" class="flex flex-col items-center gap-y-4 w-full md:w-[50%] px-2">
      <div class="w-full flex gap-y-2 flex-col md:flex-row items-start md:items-center gap-x-4">
        <label for="nom_organisation" class="font-medium text-base min-w-[212px] text-black">Nom/ Nom de l’organisation
        </label>
        <input type="text" id="nom_organisation" name="nom_organisation" [(ngModel)]="organizationName"
          class="border-[2px] border-[#0056B3] rounded px-2 py-3 w-full md:min-w-[350px] text-sm font-medium outline-none focus:outline-none" />
      </div>

      <div class="w-full flex gap-y-2 flex-col md:flex-row items-start md:items-center gap-x-4">
        <label for="personne_de_contact" class="font-medium text-base min-w-[212px] text-black">Personne de contact
        </label>
        <input type="text" id="personne_de_contact" name="personne_de_contact" [(ngModel)]="contactPerson"
          class="border-[2px] border-[#0056B3] rounded px-2 py-3 w-full md:min-w-[350px] text-sm font-medium outline-none focus:outline-none" />
      </div>

      <div class="w-full flex gap-y-2 flex-col md:flex-row items-start md:items-center gap-x-4">
        <label for="fonction" class="font-medium text-base min-w-[212px] text-black">Fonction
        </label>
        <input type="text" id="fonction" name="fonction" [(ngModel)]="position"
          class="border-[2px] border-[#0056B3] rounded px-2 py-3 w-full md:min-w-[350px] text-sm font-medium outline-none focus:outline-none" />
      </div>

      <div class="w-full flex gap-y-2 flex-col md:flex-row items-start md:items-center gap-x-4">
        <label for="phone" class="font-medium text-base min-w-[212px] text-black">Numero de téléphone
        </label>
        <input type="number" id="phone" name="phone" [(ngModel)]="phone"
          class="border-[2px] border-[#0056B3] rounded px-2 py-3 w-full md:min-w-[350px] text-sm font-medium outline-none focus:outline-none" />
      </div>

      <div class="w-full flex gap-y-2 flex-col md:flex-row items-start md:items-center gap-x-4">
        <label for="email" class="font-medium text-base min-w-[212px] text-black">Adresse email
        </label>
        <input type="email" id="email" name="email" [(ngModel)]="email"
          class="border-[2px] border-[#0056B3] rounded px-2 py-3 w-full md:min-w-[350px] text-sm font-medium outline-none focus:outline-none" />
      </div>
     

      <div class="w-full text-base font-medium">
        <p class="my-4 text-base">
          Type de partenariats souhaités 
        </p>

        <div class="flex w-full justify-between items-center">
          <fieldset class="flex flex-wrap gap-y-4 justify-between gap-x-8">
            <div class="flex items-center gap-x-2" *ngFor="let partnersType of partnersTypes">
            <div class="w-fit">
              <input name="partnerType" [value]="partnersType" [(ngModel)]="partnershipType" type="radio" class="w-5 h-5" />
            </div>
            <label class="block" for="partnerType"> {{ partnersType }} </label>
          </div>
          </fieldset>
          
        </div>
      </div>
      <div class="flex items-start flex-col lg:flex-row gap-x-4 w-full">
        <p class="w-[400px] font-medium text-base">
          Message ou proposition de partenariat 
        </p>

        <div class="w-full">
          <textarea
            class="border w-full border-[#AAAAAA] px-2 h-[200px] text-sm focus:border-2 py-2 placeholder:text-xs placeholder:text-[#AAAAAA] focus:outline-none rounded-lg resize-none"
            name="proposalMessage"
            id=""
            placeholder="Entrer du texte text"
            [(ngModel)]="proposalMessage"
          >
          </textarea>
        </div>
      </div>

      <div class="w-full flex flex-col items-start">
        <p class="text-base font-medium">
          Souhaitez-vous être recontacté pour un échange? ?
        </p>

        <div class="flex gap-x-10 mt-4 items-center">
          <div class="flex items-center gap-x-2">
            <input [value]="false" [(ngModel)]="wantToBeContacted" name="Non"  type="radio" class="w-5 h-5" />
            <label class="text-sm font-medium" for="">Non</label>
          </div>

          <div class="flex items-center gap-x-2">
            <input [value]="true" [(ngModel)]="wantToBeContacted" name="Oui" type="radio" class="w-5 h-5" />
            <label class="text-sm font-medium" for="">Oui</label>
          </div>
        </div>
      </div>

      <button
        type="submit" (click)="submitApplication($event)"
        class="py-3 bg-[#007BFF] mt-5 w-[350px] cursor-pointer text-white rounded-lg text-base font-medium border-none"
      >
        Valider
      </button>
    </form>
  </div>
</section>
