<div class="relative h-full w-[300px]">
    <div class="absolute w-full z-10 content-center justify-center items-center flex">
        <p class="w-[60px] h-[60px] rounded-[15px] justify-center text-center font-bold text-[35px] content-center" [style] ="couleur_numero" [style]="couleur_bg_numero">{{numero()}}</p>
    </div>
    <div class="relative top-[30px] flex h-[250px] rounded-[15px] items-center justify-center content-center" [style] ="couleur_texte">
        <p class="text-center px-[20px] font-(family-name:--chakraregular)">
            {{contenu()}}
        </p>
    </div>

</div>
