<div class="w-full relative mb-[60px]">
  <div class="relative top-[60px] w-full">
    <div class="flex w-full font-(family-name:--chakraregular)">
      <ng-container *ngFor="let menu of menus; index as i">
        <div
          class="relative w-[25%] h-[45px] justify-center items-center flex border-b-[5px]"
          [ngClass]="[
            'hover:bg-' + menu.color + '-300',
            'border-' + menu.color + '-400'
          ]"
          (mouseenter)="showSubMenu(i)"
          (mouseleave)="hideSubMenu()"
          (click)="hideSubMenu()"
        >
          <a class="relative">{{ menu.label }}</a>
          <div
            class="absolute w-full top-[45px] bg-{{ menu.color }}-100 justify-center items-center"
            [hidden]="activeMenuIndex !== i"
          >
            <ng-container *ngFor="let item of menu.subItems">
              <a class="h-[45px] w-full" [routerLink]="item.link">
                <div
                  class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] items-center justify-center"
                  [ngClass]="['border-' + menu.color + '-300']"
                >
                  <b>&#10095;</b>
                  <p class="w-full pl-[15px]">{{ item.label }}</p>
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <router-outlet ></router-outlet>
  </div>
</div>
