<div class="items-center rounded-[8px] mx-[12px] content-center w-[60px] h-[90px] md:w-[200px] md:h-[250px] ">
    <a class="grid justify-items-center" href="#">
        <div class="rounded-[8px] md:w-[175px] md:h-[175px]">
            <img class="rounded-[8px] w-[57px] h-[45px]  md:w-[230px] md:h-[180px]" src={{image()}} alt={{alt_message()}}  />
        </div>
        <div class="md:px-[10px] w-full md:w-[200px]">
            <p class="md:text-[18px] text-[8px] h-[10px] md:h-[25px] md:mt-[20px] text-center"><b>{{name()}}</b></p>
            <p class="text-gray-500 md:text-[14px] text-[7px] md:mb-[15px] md:h-[20px] text-center">{{role()}}</p>
        </div>
    </a>
</div>
