<div class="items-center rounded-[8px] mx-[12px] content-center w-[200px] h-[250px] ">
    <a class="grid justify-items-center" href="#">
        <div class="rounded-[8px] w-[175px] h-[175px]">
            <img class="rounded-[8px] w-[230px] h-[180px]" src={{image()}} alt={{alt_message()}}  />
        </div>
        <div class="px-[10px] w-[200px]">
            <p class="text-[18px] h-[25px] mt-[20px] text-center"><b>{{name()}}</b></p>
            <p class="text-gray-500 text-[14px] mb-[15px] h-[20px] text-center">{{role()}}</p>
        </div>
    </a>
</div>
