<div class="w-full px-2  h-max hover:shadow-lx hover:outline-2 outline-offset-0 outline-sky-300">
  <div class="flex items-center w-full h-max rounded-[8px] content-center">
    <a class="grid justify-items-center" href="#">
      <div class="rounded-[8px] w-full h-full">
        <img
          class="rounded-[8px] w-full h-full max-h-[230px]"
          src="{{ image() }}"
          alt="{{ alt_message() }}"
        />
      </div>
      <div class="md:px-[10px] w-full md:w-[200px]">
        <p class="text-xl text-center">
          <b>{{ name() }}</b>
        </p>
        <p class="text-gray-500 text-sm text-center">{{ role() }}</p>
      </div>
    </a>
  </div>
</div>
