<div class="w-full relative mb-[60px]">
    <div class="relative top-[60px] w-full">
      <div class="flex w-full">
        <div class=" relative w-[25%] h-[45px] hover:bg-yellow-300 justify-center items-center flex border-b-[5px] border-yellow-400" (mouseenter)="revealmenu()" (mouseleave)="hidemenu()" >
            <a class="relative" routerLink="/spiritualite" routerLinkActive="active" ariaCurrentWhenActive="page">
                Spiritualite
            </a>
            <div class="absolute  w-full top-[45px] bg-yellow-100 justify-center items-center" [class.invisible]="hidden">
              <a class="h-[45px] w-full" href="/spiritualite/apropos">
                <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                  <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
                </div>
              </a>
              <a class="h-[45px] w-full" href="/spiritualite/activite">
                <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                  <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
                </div>
              </a>
              <a class="h-[45px] w-full" href="#">
                <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                  <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
                </div>
              </a>
              <a class="h-[45px] w-full" href="/spiritualite/galerie">
                <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                  <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
                </div>
              </a>
            </div>
        </div>
        <div class=" relative w-[25%] h-[45px] hover:bg-red-300 justify-center items-center flex border-b-[5px] border-red-400" (mouseenter)="revealmenu2()" (mouseleave)="hidemenu2()" >
          <a class="relative" routerLink="/sante" routerLinkActive="active" ariaCurrentWhenActive="page">
              Sante
          </a>
          <div class="absolute  w-full top-[45px] bg-red-100 justify-center items-center" [class.invisible]="hidden2">
            <a class="h-[45px] w-full" href="/sante/apropos">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="/sante/activite">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="#">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="/sante/galerie">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
              </div>
            </a>
          </div>
        </div>
        <div class=" relative w-[25%] h-[45px] hover:bg-blue-300 justify-center items-center flex border-b-[5px] border-blue-400" (mouseenter)="revealmenu3()" (mouseleave)="hidemenu3()" >
          <a class="relative" href="/communication">
              communication
          </a>
          <div class="absolute  w-full top-[45px] bg-blue-100 justify-center items-center" [class.invisible]="hidden3">
            <a class="h-[45px] w-full" href="/communication/apropos">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="/communication/activite">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="#">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="#">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
              </div>
            </a>
          </div>
        </div>
        <div class=" relative w-[25%] h-[45px] hover:bg-green-300 justify-center items-center flex border-b-[5px] border-green-400" (mouseenter)="revealmenu4()" (mouseleave)="hidemenu4()" >
          <a class="relative" href="/environnement">
              Environnement
          </a>
          <div class="absolute  w-full top-[45px] bg-green-100 justify-center items-center" [class.invisible]="hidden4">
            <a class="h-[45px] w-full" href="/environnement/apropos">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="/environnement/activite">
              <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="#">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
              </div>
            </a>
            <a class="h-[45px] w-full" href="#">
              <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
              </div>
            </a>
          </div>
        </div>
      </div>
        <div class="w-full h-[50px] bg-red-50 content-center">
            <p class="ml-[70px]">
                Accueil > Champs d'apostolat > Sante > Galerie  
            </p>
        </div>
        <div class="w-full content-evenly ">
            <div class="my-[60px]">
              <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
                Galerie
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-red-300 h-[1px] w-[50px]"></div>
                <div class="bg-red-700 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-red-300 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center h-[600px] content-center">
                <div class="flex w-[1200px] h-[600px]">
                    <div class="w-[600px] h-[600px]">
                        <div class="flex w-[600px]">
                            <img class="h-[300px] w-[300px]" src="./images/centre_sante.jpg" alt="Logo ostpiocam spiritualite"/>
                            <img class="h-[300px] w-[300px]" src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png" alt="Logo ostpiocam spiritualite"/>
                        </div>
                        <div class="flex w-[600px]">
                            <img class="h-[300px] w-[300px]" src="./images/centre_sante.jpg" alt="Logo ostpiocam spiritualite"/>
                            <img class="h-[300px] w-[300px]" src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png" alt="Logo ostpiocam spiritualite"/>    
                        </div>
                    </div>
                    <div class="w-[600px] h-[600px] relative">
                      <div class="absolute z-2 w-[600px] h-[600px] hover:bg-gray-900 hover:opacity-75 bg-transparent justify-center content-center">
                        <a href="#" class="opacity-100 ml-[250px] border-[2px] px-4 rounded-[5px] text-white text-[26px] ">Voir plus +</a>
                      </div>
                      <img class="w-[600px] h-[600px]" src="./images/centre_sante.jpg" alt="Logo ostpiocam spiritualite"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[300px] content-evenly mt-[200px]">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-red-700 mb-[20px]">
                Nos partenaires
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-red-500 h-[1px] w-[50px]"></div>
                <div class="bg-red-800 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-red-500 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center items-center w-full">
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo_Confrerie_des_Disciples_de_Saint_Padre_Pio_Origin_01.png" alt="bgfi"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo Saint Pio Blood Relief Suffering Foundation Origin-01.jpg" alt="crtv"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo_Saint_Pio_International_Medical_Aid_Services_Origin_01.png" alt="huawei"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo La voie de Padre Pio Origin-01.png" alt="sabc"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/Logo Green World for Man Origin-01.jpg" alt="cisco"/>
        
            </div>
        </div>



    </div>
</div>



