<div>
  <div class="w-full h-[50px] font-(family-name:--chakraregular) content-center">
    Accueil > Champs d'Apostolat > environnement > Historicité
  </div>

  <div class="relative w-full mb-10">
    <div class="bg-[#F8D7DA] py-4 flex justify-center items-center">
      <h1 class="text-[#A71D2A] font-(family-name:--arimabold) text-4xl font-bold">Historicité</h1>
    </div>
  </div>

  <div class="w-full flex flex-col font-(family-name:--chakraregular) items-center justify-center">
    <div class="w-[90%]">
      <p>
        L’organisation est née d’une analyse situationnelle : de nombreuses
        populations et Formations Sanitaires (FOSA) situées dans des zones
        d’accès difficiles au Cameroun manquent cruellement de produits de soins
        primaires, de médicaments essentiels, de matériels médico-sanitaires
        adéquats et de qualité.
      </p>

      <p class="my-2">
        Ce constat a été établi suite à de multiples missions de terrain menées
        depuis 2008, culminant avec une tournée nationale dans les dix régions
        du pays entre novembre 2022 et Janvier 2023 par Saint Pio Blood Relief
        Suffering Foundation et la Fédération Camerounaise pour le Don Bénévole
        de Sang (FECADOBES)
      </p>

      <p class="my-2">
        Ces missions ont permis non seulement de relever un certain nombre de
        déterminants mais, surtout,  d’observer de près, la pratique
        transfusionnelle dans les Hôpitaux, y compris jusque dans les
        périphéries  les plus profondes ou coins les plus reculés du pays, en
        cette période post-Covid 19
      </p>

      <p class="mt-6">Les objectifs de ces missions  comprenaient :</p>

      <p class="my-2">
        -Faire le point de l’impact de la Covid-19  sur l’activité des
        Associations de Donneurs Bénévoles de Sang, la dynamique du Don de Sang
        et de Transfusion Sanguine dans les Régions ;
      </p>

      <p class="my-2">
        -Définir l’état général des dynamiques régionales et locales
        de réponses aux contraintes liées aux Don de Sang et à la Transfusion
        Sanguine ;
      </p>

      <p class="my-2">
        -Ouvrir des perspectives réflexives en faveur de
        l’amélioration du climat du Don de Sang Bénévole, Volontaire, Régulier
        et Non Rémunéré au Cameroun ;
      </p>

      <p class="my-2">
        - Sensibiliser sur les lacunes dans la structuration des dynamiques de
        connexion à la Communauté de la Transfusion Sanguine et du Don de Sang
        dans les Formations Sanitaires (FOSA) ;
      </p>

      <p class="my-2">
        -Formuler des recommandations globales idoines en vue de
        l’amélioration de la qualité du SANG et de l’approvisionnement en Sang
        au bénéfice des Malades dans les Hôpitaux.
      </p>

      <p class="my-2">Création et Missions de SIMEAS</p>

      <p class="my-2">
        Face à ces constats et aux appels récurrents à l’aide, fort de ces
        expériences  après un regard neuf porté à la suite d’une espèce de halte
        de recul, prenant ainsi l’avantage des activités célébratives du Jubilé
        de l’AN 20 de Présence & d’Actions de la CODISAPIO,[1] prémices de
        l’Œuvre de Saint Padre Pio au Cameroun SIMEAS a été créée chemin
        faisant, pour servir d’interface  afin d’apporter une réponse
        structurée, durable et efficace aux problèmes de santé dans les zones
        reculées, enclavées et pauvres.
      </p>

      <p class="my-2">
        Placée sous l’autorité tutélaire du Ministère de la Santé Publique,
        l’organisation se veut un réservoir élargi et ouvert  à toutes les âmes
        de bonne volonté.
      </p>

      <p class="my-2">
        Elle regroupe en son sein, des  spécialistes de haut  niveau 
        ,Médecins,Pharmaciens,Journalistes,Communicateurs,Ingénieurs,Logisticiens
        et autres professionnels de la Santé ainsi que des Volontaires et des
        Bénévoles de toutes les lignes de nage confondues en général férus de
        l’action humanitaire ,touchés par l’esprit de compassion mais surtout,
        fervents admirateurs et défenseurs acharnés de la Cause de Saint Padre
        Pio de Pietrelcina (1887-1968).
      </p>

      <p class="my-2">
        Bref, SIMEAS est une plage ouverte pour capitaliser toutes les
        potentialités et opportunités qui s’offrent à nous dans l’exercice de
        nos réalisations et contributions plurielles précédentes issues des
        efforts conjugués et mutualisés que nous avons engagé cet autre Rêve,
        initiative prophétique porteuse de confiance et d’espérance pour faire
        toute chose neuve
      </p>

      <p class="my-2">
        Dans la relation de la réciprocité, la SIMEAS est une nouvelle offre
        missionnaire et citoyenne pour permettre à ses élus membres d’horizons
        divers qui partagent cette vision de combiner leurs charismes, leurs
        compétences, leurs talents, leurs expériences et leurs efforts
        particuliers pour matérialiser leur proximité agissante en faveur des
        populations cibles ; à la vérité  pour « construire et réparer » l’Homme
        créé à l’image et à la ressemblance de Dieu dans une démarche d’ensemble
        dans un environnement dopé par l’indifférence et l’individualisme à
        l’ère de la superficialité.
      </p>

      <p class="my-2">
        « Saint Pio International Medical Aid Services (SIMEAS),
      </p>

      <p class="my-2">
        C’est une artère importante de toute l’Œuvre, dont la mission
        essentielle  principale est l’action de plaidoyer et le lobbying tous
        azimuts. C’est une structure de veille sanitaire qui sort des fonts
        baptismaux hic et nunc c’est-à-dire ici et maintenant, au bénéfice de
        l’Action dans la mouvance de la Célébration de la Journée Mondiale des
        Malades.
      </p>

      <p class="mt-10 mb-4">[1] Confrérie des Disciples de Saint Padre Pio</p>
    </div>
  </div>
</div>
