/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "ChakraPetch";
  src: url("./assets/fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chakramedium";
  src: url("./assets/fonts/Chakra_Petch/ChakraPetch-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "chakraregular";
  src: url("./assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chakrabold";
  src: url("./assets/fonts/Chakra_Petch/ChakraPetch-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: chakrabold;
}
@font-face {
  font-family: "arimabold";
  src: url("./assets/fonts/Arima/Arima-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "arimasemibold";
  src: url("./assets/fonts/Arima/Arima-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "arimamedium";
  src: url("./assets/fonts/Arima/Arima-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@theme {
  --arimabold: "arimabold", "serif";
  --chakrasemibold: "ChakraPetch", "sans-serif";
  --chakrabold: "chakrabold", "sans-serif";
  --chakramedium: "chakramedium", "sans-serif";
  --chakraregular: "chakraregular", "sans-serif";
  --arimamedium: "arimamedium", "serif";
  --arimasemibold: "arimasemibold", "serif";
}
@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
