<div class="h-[125px] w-[400px] flex rounded-[15px]" (mouseenter)="setcolor()" (mouseleave)="resetcolor()" [ngStyle]="bg_color">
    <div [ngStyle]="other"
        class="h-[125px] w-[200px] flex rounded-[15px] font-bold text-white content-center justify-center text-center">
        <p class="content-center text-[22px]">19 <br />NOV <br />2025</p>
    </div>
    <div class="h-[73px] content-around">
        <p class="font-bold text-[20px] px-[20px]">
            20e Anniversaire de l'oeuvre de St Padré Pio
        </p>
        <div class="w-full flex px-[20px] mt-[20px] content-right justify-right items-right">
            <button (click) = "showMore()" [ngStyle]="other" class="cursor-pointer h-[32px] ml-auto border-[1px] w-[82px] rounded-[5px]"  [ngStyle]="buttonAspect">
                {{buttonMessage}}
            </button>
        </div>
    </div>
</div>
<div [ngStyle]="cardAspect" class="h-[125px] w-[400px] bg-[#F8F9FA] text-justify px-[10px] py-[10px] rounded-b-[15px]">
    <p class="text-[14px]">Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. Sed gravida porttitor aliquam arcu feugiat. Nulla orci sed vitae malesuada at.Lorem ipsum dolor sit amet consectetur. Volutpat vitae blandit nisl commodo nam ultrices tempus id. </p>
</div>