<div class="w-full relative mb-[60px]">
    <div class="relative top-[60px] w-full">
        <div class="md:flex w-full">
            <div class=" relative w-[25%] h-[45px] hover:bg-yellow-300 justify-center items-center flex border-b-[5px] border-yellow-400" (mouseenter)="revealmenu()" (mouseleave)="hidemenu()" >
                <a class="relative" routerLink="/spiritualite" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Spiritualite
                </a>
                <div class="absolute  w-full top-[45px] bg-yellow-100 justify-center items-center" [class.invisible]="hidden">
                  <a class="h-[45px] w-full" href="#">
                    <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                      <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
                    </div>
                  </a>
                  <a class="h-[45px] w-full" href="#">
                    <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                      <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
                    </div>
                  </a>
                  <a class="h-[45px] w-full" href="#">
                    <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                      <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
                    </div>
                  </a>
                  <a class="h-[45px] w-full" href="#">
                    <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-yellow-300 items-center justify-center content-center">
                      <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
                    </div>
                  </a>
                </div>
            </div>
            <div class=" relative w-[25%] h-[45px] hover:bg-red-300 justify-center items-center flex border-b-[5px] border-red-400" (mouseenter)="revealmenu2()" (mouseleave)="hidemenu2()" >
              <a class="relative" routerLink="/sante" routerLinkActive="active" ariaCurrentWhenActive="page">
                  Sante
              </a>
              <div class="absolute  w-full top-[45px] bg-red-100 justify-center items-center" [class.invisible]="hidden2">
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-red-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
                  </div>
                </a>
              </div>
            </div>
            <div class=" relative w-[25%] h-[45px] hover:bg-blue-300 justify-center items-center flex border-b-[5px] border-blue-400" (mouseenter)="revealmenu3()" (mouseleave)="hidemenu3()" >
              <a class="relative" routerLink="/communication" routerLinkActive="active" ariaCurrentWhenActive="page">
                  communication
              </a>
              <div class="absolute  w-full top-[45px] bg-blue-100 justify-center items-center" [class.invisible]="hidden3">
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-blue-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
                  </div>
                </a>
              </div>
            </div>
            <div class=" relative w-[25%] h-[45px] hover:bg-green-300 justify-center items-center flex border-b-[5px] border-green-400" (mouseenter)="revealmenu4()" (mouseleave)="hidemenu4()" >
              <a class="relative" routerLink="/environnement" routerLinkActive="active" ariaCurrentWhenActive="page">
                  Environnement
              </a>
              <div class="absolute  w-full top-[45px] bg-green-100 justify-center items-center" [class.invisible]="hidden4">
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> A propos de nous </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="pl-[20px] flex w-full border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Activites </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> connaissance de l'eglise </p>
                  </div>
                </a>
                <a class="h-[45px] w-full" href="#">
                  <div class="w-full flex pl-[20px] border-b-[0.5px] h-[45px] border-x-[0.5px] border-green-300 items-center justify-center content-center">
                    <b>&#10095;</b><p class="w-full pl-[15px]"> Galerie photos </p>
                  </div>
                </a>
              </div>
            </div>
        </div>
        <div class="w-full md:h-[392px] content-evenly ">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Genèse , Objectifs & Missions
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
                <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center md:h-[202px] content-evenly">
                <p class="text-center w-full md:w-[600px] px-[10px] md:px-0">
                    Lorem ipsum dolor sit amet consectetur. Neque montes enim et lacus. Ultrices magna euismod est lobortis tempus.
                    Id arcu porttitor volutpat lectus viverra elit quisque. In egestas ut pellentesque mattis sollicitudin feugiat adipiscing
                    venenatis egestas. Sed dignissim ac nulla dignissim vestibulum. Ut non id et pellentesque quam nibh nec natoque.
                    Lobortis vestibulum viverra et sed turpis varius id phasellus vitae. Est gravida nulla id fringilla. Ac curabitur in congue
                    neque at amet risus nulla. Ac nulla vestibulum laoreet sed. Et enim tortor.
                </p>
            </div>
        </div>
        <div class="w-full md:h-[509px] bg-blue-50 content-evenly items-center grid justify-items-center">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Conseil editorial et Membres
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
                <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center items-center w-full">
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
              <app-imgcardtext [image]="'./images/Fondateur2.png'" [alt_message]="'membre'" [name]="'Albert CAMUS'" [role]="'Directeur general'" />
            </div>
            
        </div>
        <div class="w-full h-[1000px] mt-[20px] ">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Fronts d'actions
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
                <div class="bg-blue-700 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-300 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center h-[748px] content-evenly">
                <div class="w-[955px] h-[748px]">
                    <!-- <div class="carousel-container mb-[60px]" (mouseenter)="stopAutoplay()" (mouseleave)="startAutoplay()" > -->
                    <div class="carousel-container mb-[60px]" >
                        <!-- Images -->
                        <div class="carousel-slide relative">
                        <img [src]="images[currentIndex]" class="carousel-image w-[955px] h-[748px]" alt="Slide image"/>
                        <p class="z-10 absolute left-5 bottom-5 text-[12px] font-bold text-white">
                            Une vision humanitaire du <br>Cameroun et du monde.
                        </p>
                        </div>
                    
                        <!-- Flèches de navigation -->
                        <button class="prev" (click)="prevSlide()">&#10094;</button>
                        <button class="next" (click)="nextSlide()">&#10095;</button>
                    
                        <!-- Indicateurs -->
                        <div class="indicators">
                            @for(img of images; track img; let i = $index){
                                <span [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[460px] content-evenly">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Publications spéciales
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
                <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center items-center w-full">
              <app-verticalcardtext [image]="'images/actu1.jpg'" [alt_message]="'actu_spiritualite'" [date_publication]="'Publie le 11/02/2025 a 13h02'" [description]="'Celebration de la fete de la jeunesse dans la Mifi en priere.'" [name]="'Spiritualite'"></app-verticalcardtext>
              <app-verticalcardtext [image]="'images/actu2.jpg'" [alt_message]="'actu_Sante'" [date_publication]="'Publie le 12/01/2025 a 13h02'" [description]="'Nouvelle campagne de don de sang dans le departement de la Sanaga-Maritime'" [name]="'Sante'"></app-verticalcardtext>
              <app-verticalcardtext [image]="'images/actu3.jpg'" [alt_message]="'actu_environnement'" [date_publication]="'Publie le 06/02/2025 a 14h02'" [description]="'Programme de nettoyage de la ville de Kaele par les jeunes de la communaute'" [name]="'environnement'"></app-verticalcardtext>
              <app-verticalcardtext [image]="'images/actu4.jpg'" [alt_message]="'actu_communication'" [date_publication]="'Publie le 01/02/2025 a 09h02'" [description]="'Compte rendu de la conference de presse du coordonnateur a Rome'" [name]="'communication'"></app-verticalcardtext>
            </div>
        </div>
        <div class="w-full h-[300px] content-evenly">
            <div class="mb-[40px]">
              <h2 class="text-center font-bold text-2xl text-blue-700 mb-[20px]">
                Nos partenaires
              </h2>
              <div class="flex justify-center items-center w-full h-[5px]">
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
                <div class="bg-blue-800 h-[5px] w-[50px] rounded-full"></div>
                <div class="bg-blue-500 h-[1px] w-[50px]"></div>
              </div>
            </div>
            <div class="flex justify-center items-center w-full">
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/partner1.jpg" alt="bgfi"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/partner2.jpg" alt="crtv"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/partner3.jpg" alt="huawei"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/partner4.jpg" alt="sabc"/>
              <img class="w-[175px] h-[100px] mx-[30px]" src="./images/partner5.jpg" alt="cisco"/>
            </div>
        </div>

    </div>
</div>



